.btn {
  border: $border;
  width: 90%;
  max-width: 320px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-black;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  @include tablet-portrait {
    height: 50px;
    font-size: 15px;
  }
  &:hover {
    background: $color-button;
    color: $color-white;
  }
  &--white {
    border: $border-white;
    color: $color-white;
    &:hover {
      background: $color-white;
      color: $color-black;
    }
  }
}

.hexagon {
  height: 440px;
  width: 440px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: -1;
  @include tablet-portrait {
    height: 300px;
    width: 300px;
  }
  @include phone {
    height: 250px;
    width: 250px;
  }
  &:after {
    content: '';
    position: absolute;
    background: #f7f7f7;
    clip-path: $hexagon;
    transform: $rotate;
    display: block;
    inset: 0;
    pointer-events: none;
  }
  &--left {
    position: absolute;
    left: -200px;
    bottom: 20%;
  }

  &--small {
    height: 170px;
    width: 170px;
    position: absolute;
    top: 0;
    left: -50px;
  }

  &--right {
    position: absolute;
    right: 0;
    bottom: 20%;
  }
  &--right-detail {
    position: absolute;
    right: -150px;
    bottom: 20%;
  }
  &--outline {
    position: absolute;
    left: 50px;
    top: 10%;
    &:after {
      content: none;
    }
    svg {
      transform: $rotate;
      display: block;
      width: 100%;
      height: auto;
    }
  }
  &--red {
    position: absolute;
    left: -200px;
    bottom: 20%;
    &:after {
      content: '';
      position: absolute;
      background: #fff5f5;
      clip-path: $hexagon;
      transform: $rotate;
      display: block;
      inset: 0;
      pointer-events: none;
    }
    &.one {
      left: 100px;
      bottom: 10%;
    }
    &.two {
      left: 150px;
      bottom: 25%;
    }
    &.three {
      left: 300px;
      bottom: 0%;
    }
  }
}