.cart {
  &__button {
    margin-right: 40px;
    cursor: pointer;
    position: relative;
    padding: 15px;
    align-items: center;
    display: flex;

    .products-count {
      color: #000;
      font-size: 16px;
      font-weight: 500;
      margin-left: 5px;
    }

    &:after {
      content: '';
      position: absolute;
      background: #b2b2b2;
      clip-path: $hexagon;
      transform: $rotate;
      display: block;
      inset: 0;
      pointer-events: none;
      z-index: -1;
      transition: all .3s ease;
    }

    &:hover {
      &:after {
        opacity: .3;
      }
    }
  }
}
