.follow {
  padding: 80px 50px;
  @include tablet-portrait {
    padding: 50px 0;
  }
  @include phone {
    padding: 50px 0 30px;
  }
  &__inner {
    padding: 100px 50px;
    &--right {
      padding: 0;
      @include tablet-portrait {
        padding: 50px 0;
        display: flex;
        flex-direction: row;
      }
    }
    @include tablet-portrait {
      padding: 50px 0;
    }
    @include phone {
      padding: 20px 0;
    }
  }
  &__socials {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    @include tablet-portrait {
      margin-top: 50px;
    }
  }
  &__icon {
    height: 100px;
    width: 100px;
    position: relative;
    margin: 0 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      height: 20px;
      width: auto;
      z-index: 5;
      @include animation();
    }
    &:after {
      content: '';
      position: absolute;
      background: $color-grey-hexagon;
      clip-path: $hexagon;
      transform: $rotate;
      display: block;
      inset: 0;
      pointer-events: none;
      z-index: -1;
      @include animation();
    }
    &--instagram {

    }
    &--facebook {
      top: 30px;
    }
    &:hover {
      &:after {
        background: $color-black-background2;
      }
      svg {
        path {
          fill: $color-white;
        }
      }
    }
    @include tablet-portrait {
      height: 50px;
      width: 50px;
      svg {
        height: 15px;
      }
      &--facebook {
        top: 15px;
      }
    }
  }
  &__image {
    height: 350px;
    width: 350px;
    margin: 5px;
    img {
      object-fit: cover;
      width: 100%;
      height: auto;
    }
    @include tablet-portrait {
      width: 50%;
      height: auto;
    }
    @include phone {
      width: 47%;
    }
  }
}