.title {
  font-size: 36px;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 0.96px;
  color: $color-button;
  text-transform: uppercase;
  line-height: 50px;
  &--white {
    color: $color-white;
  }
  &--small {
    font-size: 16px;
  }
  span {
    font-weight: 300;
  }
}

.subtitle {
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 0.48px;
  color: $color-button;
  text-transform: uppercase;
  margin-bottom: 30px;
  &--white {
    color: $color-white;
  }
  &--grey {
    color: $color-grey-footer;
  }
}

.text {
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 0.01px;
  line-height: 17px;
  color: $color-black;
  padding: 20px 0;
  &--white {
    color: $color-white;
  }
}
