.detail-top {
  height: 100vh;
  position: relative;
  &__wrapper {
    top: 0;
    position: absolute;
    padding-top: 120px;
    width: 100%;
    height: 50vh;
    max-height: 380px;
    z-index: 5;
    background-color: $color-white;
    @include phone {
      max-height: 400px;
    }
  }
  &__inner {
    width: 100%;
    height: 100%;
    position: relative;
  }
  &__banner {
    position: absolute;
    bottom: -270px;
    z-index: 5;
    left: 10%;
    height: 500px;
    width: 500px;
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @include phone {
      width: 350px;
      height: 350px;
      left: 0;
      padding: 60px 40px;
      bottom: -220px;
    }
    &:after {
      content: '';
      position: absolute;
      background-color: $color-white;
      clip-path: $hexagon;
      transform: $rotate;
      display: block;
      inset: 0;
      pointer-events: none;
      z-index: -1;
    }
    p {
      color: $color-black;
      font-size: 18px;
      font-style: italic;
      font-weight: 300;
      letter-spacing: 0.01px;
      line-height: 22px;
      padding: 20px 0;
      width: 100%;
      @include phone {
        font-size: 16px;
        line-height: 20px;
        padding: 10px 0;
      }
      .name {
        font-weight: 500;
      }
      .position {
        display: block;
      }
    }
    a {
      position: relative;
      display: inline-block;
      &:before {
        content: "";
        position: absolute;
        bottom: 50%;
        left: 0;
        height: 2px;
        width: 100%;
        background: $color-red;
        transform: scaleX(0);
        transform-origin: left;
        transition: 0.3s transform;
      }
      &:hover {
        &:before {
          transform: scaleX(1);
        }
      }
    }
  }
  &__bg {
    height: 100vh;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    &--contact {
      background-image: url(./assets/images/contact/contact_top_large.jpg);
      @include phone {
        background-image: url(./assets/images/contact/contact_top_mobile.jpg);
      }
    }
    &--ambassadors {
      background-image: url(./assets/images/ambassadors/ambassadors_top_large.jpg);
      @include phone {
        background-image: url(./assets/images/ambassadors/ambassadors_top_mobile.jpg);
      }
    }
    &--dealers {
      background-image: url(./assets/images/dealers/dealers_top_large.jpg);
      @include phone {
        background-image: url(./assets/images/dealers/dealers_top_mobile.jpg);
      }
    }
    &--history {
      background-image: url(./assets/images/history/history_top_large.jpg);
      @include phone {
        background-image: url(./assets/images/history/history_top_mobile.jpg);
      }
    }
  }
  .upper {
    z-index: 10;
  }
}