.wakeboard {
  background: $color-black-background2;
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    max-width: 350px;
    position: relative;
    z-index: 0;
    &--right {
      margin-left: 150px;
      @include phone {
        margin-left: 0;
      }
    }
    .btn {
      margin-top: 50px;
    }
  }
}