${require('./include/base.html')}

${require('./include/header.html')}

<main>
    <section>
        <div class="detail-top">
            <div class="detail-top__wrapper">
                <div class="detail-top__inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="subtitle subtitle--red">PŘEČTĚTE SI CO JE NAŠE </div>
                                <h2 class="title title--red">NAŠE HISTORIE</h2>
                            </div>
                        </div>
                    </div>
                    <div class="detail-top__banner">
                        <p>“Back in 2005 I was not really happy with the kiteboards available on the market. So I decided to develop my own board.”</p>
                        <p><span class="name">MARTIN HAVLÍK</span><span class="position">FUTURE KITING DEVELOPER</span></p>
                    </div>
                </div>
            </div>
            <div class="detail-top__bg detail-top__bg--contact"></div>
        </div>
    </section>
    <section class="about">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="about__block">
                        <div class="about__wrapper">
                            <div class="about__subtitle">
                                AND THAN THEY MET<br>
                                STORY OF
                            </div>
                            <div class="about__title">
                                2008s
                            </div>
                            <div class="about__text">
                                Once upon a time Tereza met Martin on sunny beaach and tested his boards. She imediately fall in love with the new technology and performance. It didn´t take long and they had founded the company together.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 about__image">
                    <div class="background__image about__1">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 about__image">
                    <div class="background__image about__1">

                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="about__block">
                        <div class="about__wrapper">
                            <div class="about__subtitle">
                                IT ALL STARTED IN
                            </div>
                            <div class="about__title">
                                2005
                            </div>
                            <div class="about__text">
                                The constuction  of the board has been based on the non-standard shape and the two-concaved bottom with sharp edges. The new Futurekiting board showed, since the very first moment of testing, much higher speed than other boards and the speed was kept even during up-winding.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="about__block">
                        <div class="about__wrapper">
                            <div class="about__subtitle">
                                THE FIRST SERIE<br>
                                PRODUCTION OF
                            </div>
                            <div class="about__title">
                                2009
                            </div>
                            <div class="about__text">
                                In 2009, after few years spent on testing the kiteboard prototypes, we remained focused on boards for water kiteboarding. We have designed entirely new concept of the 3D bottom shaping – The Fish Belly Technology (FBT) ™. FBT provides absolutely unknown experience of  comfort, control, soft landing and a huge pop ability.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 about__image">
                    <div class="background__image about__1">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 about__image">
                    <div class="background__image about__1">

                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="about__block">
                        <div class="about__wrapper">
                            <div class="about__subtitle">
                                WE PRODUCE FUTURE KITE
                                FROM SCRATCH
                            </div>
                            <div class="about__title">
                                2013
                            </div>
                            <div class="about__text">
                                As we never copy a  thing,  we have started with intensive development of kite from scratch with world renowned designer Tomas Brauner. Tomas designed unique C- kite which is appreciated for both, stability and performance. “You will probably say” just another kite “Until you try it out,” Mike Blomvall.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="about__block">
                        <div class="about__wrapper">
                            <div class="about__subtitle">
                                TODAY
                            </div>
                            <div class="about__title">
                                2021
                            </div>
                            <div class="about__text">
                                As we never copy a  thing,  we have started with intensive development of kite from scratch with world renowned designer Tomas Brauner. Tomas designed unique C- kite which is appreciated for both, stability and performance. “You will probably say” just another kite “Until you try it out,” Mike Blomvall.
                            </div>
                        </div>
                    </div>
                    <div class="hexagon hexagon--red"></div>
                </div>
                <div class="col-12 col-sm-6 about__image">
                    <div class="background__image about__1">

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

${require('./include/footer.html')}