${require('./include/base.html')}

${require('./include/header.html')}

<main>
    <section>
        <div class="detail-top">
            <div class="detail-top__wrapper">
                <div class="detail-top__inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="subtitle subtitle--red">BAVÍ NÁS VYRÁBĚT TY NEJELPŠÍ KITEBOARDY, ALE CO NÁS<br>
                                    BAVÍ ÚPLNĚ NEJVÍC, TAK KDYŽ NÁM ŘEKNE MURPHY:</div>
                                <h2 class="title title--red">“HEJ CHLAPI TO PRKNO JE BOŽÍ,<br>
                                    ALE NŠLO BY TO JEŠTĚ O CHLUP TVRDŠÍ?”</h2>
                            </div>
                        </div>
                    </div>
                    <div class="detail-top__banner">
                        <p>Jsou to oni, kdo našim boardům vdechují život, vymýšlí ty nejvíc crazy věci na světě a nenápadně nás pošťuchují, jestli můžeme jejich oblíbený model ještě vylepšit.</p>
                    </div>
                </div>
            </div>
            <div class="detail-top__bg detail-top__bg--contact"></div>
        </div>
    </section>
</main>

${require('./include/footer.html')}