${require('./include/base.html')}

${require('./include/header.html')}

<main>
    <section>
        <div class="detail-top">
            <div class="detail-top__wrapper">
                <div class="detail-top__inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 upper">
                                <div class="subtitle subtitle--red">The story of our brand.</div>
                                <h2 class="title title--red">How it all started…</h2>
                            </div>
                        </div>
                    </div>
                    <div class="detail-top__banner">
                        <p>"I think it was 2005, damn what a year that was! Somehow I was not happy with kiteboards on
                            the market. That is where I decided to develop my own!"</p>
                        <p><span class="name">MARTIN HAVLÍK</span><span
                                class="position">FUTURE kiteboarding developer</span></p>
                    </div>
                </div>
            </div>
            <div class="detail-top__bg detail-top__bg--history"></div>
        </div>
    </section>
    <section>
        <div class="two-column">
            <div class="container">
                <div class="row about">
                    <div class="col-12 col-sm-6">
                        <div class="about__block about__block--text">
                            <div class="about__wrapper reveal-right">
                                <div class="about__subtitle">
                                    It all started in…
                                </div>
                                <div class="about__title">
                                    2005
                                </div>
                                <div class="about__text">
                                    The construction of the board was based on the non-standard shape and two-concave
                                    bottom with sharp edges. Already at the first testing round, the new Future board
                                    demonstrated a much higher speed than other boards, and maintained it even during
                                    up-winding.
                                </div>
                            </div>
                        </div>
                        <div class="hexagon hexagon--red"></div>
                    </div>
                    <div class="col-12 col-sm-6 about__image">
                        <div class="background__image history__2005">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="two-column">
            <div class="container">
                <div class="row about">
                    <div class="col-12 col-sm-6 about__image">
                        <div class="background__image history__2006">

                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="about__block about__block--text">
                            <div class="about__wrapper reveal-right">
                                <div class="about__subtitle">
                                    Snowkiting episode
                                </div>
                                <div class="about__title">
                                    2006
                                </div>
                                <div class="about__text">
                                    We became more active in the snowkiting arena as well. As always, we decided to go
                                    our own way – to design and to build up a snowkite board from scratch and to develop
                                    a board reflecting all the aspects a snowkite board requires. Several months in, we
                                    could finally come forward with something nobody else had – a special free-style
                                    snowkiting board – „RAGE“.
                                </div>
                            </div>
                        </div>
                        <div class="hexagon hexagon--red one"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="two-column">
            <div class="container">
                <div class="row about">
                    <div class="col-12 col-sm-6">
                        <div class="about__block about__block--text">
                            <div class="about__wrapper reveal-left">
                                <div class="about__subtitle">
                                    Company being born
                                </div>
                                <div class="about__title">
                                    2008
                                </div>
                                <div class="about__text">
                                    Once upon a time, Tereza met Martin on a sunny beach and tested his boards. She
                                    immediately fell in love with the new technology and performance. It didn't take
                                    long and they founded the company together.
                                </div>
                            </div>
                        </div>
                        <div class="hexagon hexagon--red two"></div>
                    </div>
                    <div class="col-12 col-sm-6 about__image">
                        <div class="swiper-container brand-swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="background__image history__2008-1"></div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="background__image history__2008-2"></div>
                                </div>
                                <div class="swiper-pagination brand-pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="two-column">
            <div class="container">
                <div class="row about">
                    <div class="col-12 col-sm-6 about__image">
                        <div class="background__image history__2009">

                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="about__block about__block--text">
                            <div class="about__wrapper reveal-right">
                                <div class="about__subtitle">
                                    The first production
                                </div>
                                <div class="about__title">
                                    2009
                                </div>
                                <div class="about__text">
                                    In 2009, after a few years spent on testing the kiteboard prototypes, we decided to
                                    keep focusing on boards for water kiteboarding. We designed an entirely new concept
                                    of 3D bottom shaping – The Fish Belly Technology (FBT) ™. FBT provides an absolutely
                                    new experience of comfort, control, soft landing and a huge pop ability.
                                </div>
                            </div>
                        </div>
                        <div class="hexagon hexagon--red three"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="two-column">
            <div class="container">
                <div class="row about">

                    <div class="col-12 col-sm-6">
                        <div class="about__block about__block--text">
                            <div class="about__wrapper reveal-left">
                                <div class="about__subtitle">
                                    The 2nd generation of our kiteboards
                                </div>
                                <div class="about__title">
                                    2010
                                </div>
                                <div class="about__text">
                                    We introduced the F10 kiteboard with a number of new features and improvements. F12
                                    represents the next step of evolution. The boards are becoming widely popular in
                                    Europe, Asia and South America.
                                </div>
                            </div>
                        </div>
                        <div class="hexagon hexagon--red"></div>
                    </div>
                    <div class="col-12 col-sm-6 about__image">
                        <div class="background__image history__2010">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="two-column">
            <div class="container">
                <div class="row about">
                    <div class="col-12 col-sm-6 about__image">
                        <div class="swiper-container brand-swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="background__image history__2013-1"></div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="background__image history__2013-2"></div>
                                </div>
                                <div class="swiper-pagination brand-pagination"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="about__block about__block--text">
                            <div class="about__wrapper reveal-right">
                                <div class="about__subtitle">
                                    Introduction of F14 PRO
                                </div>
                                <div class="about__title">
                                    2013
                                </div>
                                <div class="about__text">
                                    In 2013, the legendary F14 PRO kiteboard is created, originally designed for the
                                    World Cup races. A new concept of kiteboard where high longitudinal stiffness
                                    remains while low torsional stiffness is maintained. Positive reactions come from
                                    all over the world.
                                </div>
                            </div>
                        </div>
                        <div class="hexagon hexagon--red one"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="two-column">
            <div class="container">
                <div class="row about">

                    <div class="col-12 col-sm-6">
                        <div class="about__block about__block--text">
                            <div class="about__wrapper reveal-left">
                                <div class="about__subtitle">
                                    The BOSS is here
                                </div>
                                <div class="about__title">
                                    2015
                                </div>
                                <div class="about__text">
                                    After the success of the F14 PRO racing kiteboard, the newly developed BOSS
                                    kiteboard is launched. It expands the portfolio with its sports-tuned playful board.
                                    This year the decision is made to include a racing line of kites in our portfolio.
                                </div>
                            </div>
                        </div>
                        <div class="hexagon hexagon--red two"></div>
                    </div>
                    <div class="col-12 col-sm-6 about__image">
                        <div class="background__image history__2015">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="two-column">
            <div class="container">
                <div class="row about">
                    <div class="col-12 col-sm-6 about__image">
                        <div class="background__image history__2017">

                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="about__block about__block--text">
                            <div class="about__wrapper reveal-right">
                                <div class="about__subtitle">
                                    Future Wakeboards
                                </div>
                                <div class="about__title">
                                    2017
                                </div>
                                <div class="about__text">
                                    After a series of negotiations, cooperation with several other world brands is
                                    established and our own OM production of kiteboards is launched.<br>
                                    Kite manufacturing is discontinued. The final portfolio of kiteboards enables us to
                                    make a successful entry into the world of wakeboarding.
                                </div>
                            </div>
                        </div>
                        <div class="hexagon hexagon--red three"></div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="two-column">
            <div class="container">
                <div class="row about">

                    <div class="col-12 col-sm-6">
                        <div class="about__block about__block--text">
                            <div class="about__wrapper reveal-left">
                                <div class="about__subtitle">
                                    Partnering up
                                </div>
                                <div class="about__title">
                                    2019
                                </div>
                                <div class="about__text">
                                    This year brings a big breakthrough in terms of development. We start establishing a
                                    close cooperation with a local SPORTEN factory, now known as KÄESTLE. The result is
                                    a significant increase in production capacity and huge technological potential.
                                </div>
                            </div>
                        </div>
                        <div class="hexagon hexagon--red "></div>
                    </div>
                    <div class="col-12 col-sm-6 about__image">
                        <div class="background__image history__2019">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="two-column">
            <div class="container">
                <div class="row about">
                    <div class="col-12 col-sm-6 about__image">
                        <div class="background__image history__2021">

                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="about__block about__block--text">
                            <div class="about__wrapper reveal-right">
                                <div class="about__subtitle">
                                    The Present day
                                </div>
                                <div class="about__title">
                                    2021
                                </div>
                                <div class="about__text">
                                    We have significantly increased production and expanded our portfolio with
                                    hydrofoils, mountainboards and skimboards. We are perfectly prepared for future
                                    opportunities.
                                </div>
                            </div>
                        </div>
                        <div class="hexagon hexagon--red two"></div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>

${require('./include/footer.html')}