${require('./include/base.html')}

${require('./include/header.html')}

<main>
    <section>
        <div class="detail-top">
            <div class="detail-top__wrapper">
                <div class="detail-top__inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="subtitle subtitle--red">NAJDĚTE NEJBLIŽŠÍHO PRODEJCE VE VAŠEM OKOLÍ</div>
                                <h2 class="title title--red">RÁDI VÁM PORADÍME A PŘI TROŠE ŠTĚSTÍ
                                    DOSTANETE NA BOARD I RŮŽOVOU MAŠLI!</h2>
                            </div>
                        </div>
                    </div>
                    <div class="detail-top__banner">
                        <p>Chcete se stát našim dealerem a prodávat nejlepší kiteboardy na světě? Na nic nečekejte a napište nám na
                            <a href="mailto:sales@futurekiteboading.com">sales@futurekiteboading.com</a>.</p>
                    </div>
                </div>
            </div>
            <div class="detail-top__bg detail-top__bg--contact"></div>
        </div>
    </section>
</main>

${require('./include/footer.html')}