${require('./include/base.html')}

${require('./include/header.html')}

<main>
    <section>
        <div class="detail-top">
            <div class="detail-top__wrapper">
                <div class="detail-top__inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 upper">
                                <div class="subtitle subtitle--red">Hey there,</div>
                                <h2 class="title title--red">Got any questions?</h2>
                            </div>
                        </div>
                    </div>
                    <div class="detail-top__banner">
                        <p>Don't hesitate to send us an email or reach out via <a href="https://wa.me/420775526626">Whatsapp</a>.</p>
                    </div>
                </div>
            </div>
            <div class="detail-top__bg detail-top__bg--contact"></div>
        </div>
    </section>
    <section class="contact">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-4">
                    <div class="subtitle">
                        Company
                    </div>
                    <h3 class="title title--medium" style="text-transform: lowercase;">
                        one label s.r.o.
                    </h3>
                    <div class="contact__address">
                        <p>Kuchařovická 3611/11</p>

                        <p>669 02 ZNOJMO</p>

                        <p>Czech republic</p>

                        <p>VAT ID: CZ02474727</p>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="subtitle">INTERESTED IN THE PRODUCT</div>
                    <h3 class="title title--medium">CONTACT US</h3>
                    <a href="mailto:info@futurekiteboarding.com" class="contact__link">info@futurekiteboarding.com</a>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="subtitle">INTERESTED IN COOPERATION</div>
                    <h3 class="title title--medium">CONTACT US</h3>
                    <a href="mailto:sales@futurekiteboarding.com" class="contact__link">sales@futurekiteboarding.com</a>
                </div>
            </div>
            <form name="contact" method="post" class="contact__form js-request-form-contact" id="contactForm">
                <div class="row">
                    <div class="col-12 col-sm-8">
                        <div class="subtitle">OR</div>
                        <div class="title title--medium">Write us now</div>
                        <div class="flex-wrapper">
                            <input type="name" name="name" id="name" placeholder="NAME" class="form-control js-input"
                                   required>

                            <input type="email" name="email" id="email" placeholder="EMAIL" class="form-control js-input"
                                   required>
                        </div>

                        <textarea name="comment" placeholder="Message"></textarea>

                        <div class="form__wrapper--thankyou">Your message has been sent successfully.</div>
                        <div class="form__wrapper--error">Error! Your message has not been sent.</div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="contact__submit">
                            <button type="submit" class="submit__button">Send</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    ${require('./include/follow.html')}
</main>

${require('./include/footer.html')}