${require('./include/base.html')}

<title>FUTURE Kiteboarding</title>

<meta name="description" content="Look no further, fellow kite enthusiast, we got you covered! Best kiteboards for rookies as well as guys who don’t mess around. Click to see what’s up…"/>
<meta name="author" content="Ondřej Blaha"/>

<meta prefix="og: http:ogp.me/ns#" property="og:title" content="FUTURE Kiteboarding"/>
<meta prefix="og: http:ogp.me/ns#" property="og:description"
      content="Look no further, fellow kite enthusiast, we got you covered! Best kiteboards for rookies as well as guys who don’t mess around. Click to see what’s up…"/>
<meta prefix="og: http:ogp.me/ns#" property="og:type" content="website"/>
<meta prefix="og: http:ogp.me/ns#" property="og:image" content="http://futurekiteboarding.com/images/fb.jpg"/>
<meta prefix="og: http:ogp.me/ns#" property="og:image:secure_url"
      content="https://futurekiteboarding.com/images/fb.jpg"/>
<meta prefix="og: http:ogp.me/ns#" property="og:locale" content="cs_CZ"/>

${require('./include/base-bottom.html')}

${require('./include/header.html')}

<main class="homepage">

        <div class="homepage__top">
            <div class="position-fixed">
                <div class="swiper-container homepage-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="background__image homepage__black-friday"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="homepage__banner reveal-up">
                <div class="position-relative">
                    <div class="swiper-container homepage-swiper-text">
                        <div class="swiper-wrapper">
                            <!--<div class="swiper-slide">
                                <h2>MUCHO<span>TESTED BY IKSURFMAG</span></h2>
                                <p><a href="mucho">Read the whole test</a></p>
                            </div>-->
                            <div class="swiper-slide">
                                <h2><span>Black Friday</span> is here and will keep you happy until <span>November&nbsp;30!</span></h2>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination top-pagination"></div>
                </div>
            </div>
        </div>

    ${require('./include/products.html')}

    ${require('./include/benefits.html')}
<section>


    <div class="two-column">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="two-column__inner two-column__inner--text reveal-up">
                        <div class="subtitle">Meet our</div>
                        <h2 class="title">Ambassadors</h2>
                        <p class="text">They are unfettered, they are eager, they are…well, just see for yourself. </p>
                        <a href="ambassadors" class="btn">Read more</a>
                        <div class="hexagon hexagon--left"></div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 padding-0">
                    <div class="swiper-container ambassadors-swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="background__image ambassadors__1"></div>
                            </div>
                            <div class="swiper-slide">
                                <div class="background__image ambassadors__2"></div>
                            </div>
                            <div class="swiper-slide">
                                <div class="background__image ambassadors__3"></div>
                            </div>
                            <div class="swiper-slide">
                                <div class="background__image ambassadors__4"></div>
                            </div>
                            <div class="swiper-pagination ambassadors-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <section>


    <div class="two-column">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 padding-0 order-mobile-2">
                    <div class="swiper-container brand-swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="background__image brand__1"></div>
                            </div>
                            <div class="swiper-slide">
                                <div class="background__image brand__2"></div>
                            </div>
                            <div class="swiper-pagination brand-pagination"></div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 order-mobile-1">
                    <div class="two-column__inner two-column__inner--right two-column__inner--text reveal-up">
                        <div class="subtitle">Explore our</div>
                        <h2 class="title">Brand history</h2>
                        <p class="text">"I think it was 2005, damn what a year that was! Somehow I was not happy with kiteboards on the market. That is where I decided to develop my own!"</p>
                        <p class="text">Martin Havlík FUTURE kiteboarding developer</p>
                        <a href="brand-history" class="btn">Read more</a>
                        <div class="hexagon hexagon--right"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <section>


        <div class="two-column">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="two-column__inner two-column__inner--text reveal-up">
                            <div class="subtitle">CONVINCE YOURSELF</div>
                            <h2 class="title">TRIED & TESTED</h2>
                            <p class="text">The test team of the world-famous IKSURFMAG magazine tested our Mucho kiteboard.</p>
                            <a href="https://www.iksurfmag.com/reviews/boards/twin-tips/future-kiting-mucho-142-x-43cm-2022/" target="_blank" class="btn">Read the whole test</a>
                            <div class="hexagon hexagon--left"></div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 padding-0">
                        <div class="swiper-container ambassadors-swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="background__image iksurfmag__1"></div>
                                </div>
                                <div class="swiper-pagination ambassadors-pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    ${require('./include/follow.html')}
<section>
    <div class="wakeboard">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 padding-0">
                    <div class="swiper-container wakeboard-swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="background__image wake__1"></div>
                            </div>
                            <div class="swiper-slide">
                                <div class="background__image wake__2"></div>
                            </div>
                            <div class="swiper-slide">
                                <div class="background__image wake__3"></div>
                            </div>
                            <div class="swiper-slide">
                                <div class="background__image wake__4"></div>
                            </div>
                            <div class="swiper-pagination wakeboard-pagination"></div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="wakeboard__inner wakeboard__inner--right wakeboard__inner--text reveal-right">
                        <div class="subtitle subtitle--white">
                            YEAH, WE CAN DO<br>
                            WAKEBOARDS TOO!
                        </div>
                        <h2 class="title title--white">
                            <span>THE FUTURE OF</span>
                            WAKEBOARDING
                        </h2>
                        <a href="https://futurewakeboarding.com/" target="_blank" class="btn btn--white">discover the future</a>
                        <div class="hexagon hexagon--outline">
                            <svg width="231px" height="265px" viewBox="0 0 231 265" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <title>Path</title>
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon id="Path" stroke="#f7f7f7" stroke-width="0.1px" fill-rule="nonzero" points="1 66.441 1 198.147 115.651 264 230.303 198.147 230.303 66.441 115.651 0.588"></polygon>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</main>

${require('./include/footer.html')}
