${require('./include/base.html')}

${require('./include/header.html')}

<main>

    ${require('./include/products.html')}

    <section>
        <div class="two-column">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="two-column__inner two-column__inner--center two-column__inner--text reveal-up">
                            <h2 class="title">We know how Different feels</h2>
                            <p class="text">Our kiteboards are something else. No cliché here. You need to see for yourself, all the years of gathered development experience start talking once on water. </p>
                            <div class="hexagon hexagon--left"></div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 padding-0">
                        <div class="background__image kiteboards-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="two-column">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-6 order-mobile-2 padding-0">
                        <div class="background__image kiteboards-2"></div>
                    </div>
                    <div class="col-12 col-sm-6 order-mobile-1">
                        <div class="two-column__inner two-column__inner--center two-column__inner--text reveal-up">
                            <h2 class="title">Made in the European Union</h2>
                            <p class="text">You could say we are patriots. Our kiteboards are designed, developed and manufactured in the heart of Europe - the Czech Republic. This is our way to ensure all manufacturing gets a proper oversight and all improvements can be applied instantly.</p>
                            <div class="hexagon hexagon--right"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

${require('./include/footer.html')}

