${require('./include/base.html')}

${require('./include/header.html')}

<main>
    <section class="product-detail">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 product-gallery active" data-color="red">
                    <div class="product-gallery__inner">
                        <div class="swiper-container gallery-top gallery-top-1">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="swiper-slide-container">
                                        <a href="${require('../assets/images/products/mucho/mucho_red_front.jpg')}" data-lightbox="mucho-red" class="gallery">
                                            <img src="../assets/images/products/mucho/mucho_red_front.jpg" class="product-tall" alt="Mucho">
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="swiper-slide-container">
                                        <a href="${require('../assets/images/products/mucho/mucho_red_back.jpg')}" data-lightbox="mucho-red" class="gallery">
                                            <img src="../assets/images/products/mucho/mucho_red_back.jpg" class="product-tall" alt="Mucho">
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="swiper-slide-container">
                                        <a href="${require('../assets/images/products/mucho/axo/mucho_red_top.jpg')}" data-lightbox="mucho-red" class="gallery">
                                            <img src="../assets/images/products/mucho/axo/mucho_red_top.jpg" class="product-wide" alt="Mucho">
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="swiper-slide-container">
                                        <a href="${require('../assets/images/products/mucho/axo/mucho_red_bottom.jpg')}" data-lightbox="mucho-red" class="gallery">
                                            <img src="../assets/images/products/mucho/axo/mucho_red_bottom.jpg" class="product-wide" alt="Mucho">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                        <div class="swiper-container gallery-thumbs gallery-thumbs-1">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"><div class="swiper-slide-container"><img src="../assets/images/products/mucho/mucho_red_front.jpg" alt="Mucho"></div></div>
                                <div class="swiper-slide"><div class="swiper-slide-container"><img src="../assets/images/products/mucho/mucho_red_back.jpg" alt="Mucho"></div></div>
                                <div class="swiper-slide"><div class="swiper-slide-container"><img src="../assets/images/products/mucho/axo/mucho_red_top.jpg" alt="Mucho"></div></div>
                                <div class="swiper-slide"><div class="swiper-slide-container"><img src="../assets/images/products/mucho/axo/mucho_red_bottom.jpg" alt="Mucho"></div></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 product-gallery" data-color="blue">
                    <div class="product-gallery__inner">
                        <div class="swiper-container gallery-top gallery-top-2">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="swiper-slide-container">
                                        <a href="${require('../assets/images/products/mucho/mucho_blue_front.jpg')}" data-lightbox="mucho-blue" class="gallery">
                                            <img src="../assets/images/products/mucho/mucho_blue_front.jpg" class="product-tall" alt="Mucho">
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="swiper-slide-container">
                                        <a href="${require('../assets/images/products/mucho/mucho_blue_back.jpg')}" data-lightbox="mucho-blue" class="gallery">
                                            <img src="../assets/images/products/mucho/mucho_blue_back.jpg" class="product-tall" alt="Mucho">
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="swiper-slide-container">
                                        <a href="${require('../assets/images/products/mucho/axo/mucho_blue_top.jpg')}" data-lightbox="mucho-blue" class="gallery">
                                            <img src="../assets/images/products/mucho/axo/mucho_blue_top.jpg" class="product-wide" alt="Mucho">
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="swiper-slide-container">
                                        <a href="${require('../assets/images/products/mucho/axo/mucho_blue_bottom.jpg')}" data-lightbox="mucho-blue" class="gallery">
                                            <img src="../assets/images/products/mucho/axo/mucho_blue_bottom.jpg" class="product-wide" alt="Mucho">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                        <div class="swiper-container gallery-thumbs gallery-thumbs-2">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"><div class="swiper-slide-container"><img src="../assets/images/products/mucho/mucho_blue_front.jpg" alt="Mucho"></div></div>
                                <div class="swiper-slide"><div class="swiper-slide-container"><img src="../assets/images/products/mucho/mucho_blue_back.jpg" alt="Mucho"></div></div>
                                <div class="swiper-slide"><div class="swiper-slide-container"><img src="../assets/images/products/mucho/axo/mucho_blue_top.jpg" alt="Mucho"></div></div>
                                <div class="swiper-slide"><div class="swiper-slide-container"><img src="../assets/images/products/mucho/axo/mucho_blue_bottom.jpg" alt="Mucho"></div></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 product-gallery" data-color="yellow">
                    <div class="product-gallery__inner">
                        <div class="swiper-container gallery-top gallery-top-3">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="swiper-slide-container">
                                        <a href="${require('../assets/images/products/mucho/mucho_yellow_front.jpg')}" data-lightbox="mucho-yellow" class="gallery">
                                            <img src="../assets/images/products/mucho/mucho_yellow_front.jpg" class="product-tall" alt="Mucho">
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="swiper-slide-container">
                                        <a href="${require('../assets/images/products/mucho/mucho_yellow_back.jpg')}" data-lightbox="mucho-yellow" class="gallery">
                                            <img src="../assets/images/products/mucho/mucho_yellow_back.jpg" class="product-tall" alt="Mucho">
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="swiper-slide-container">
                                        <a href="${require('../assets/images/products/mucho/axo/mucho_yellow_top.jpg')}" data-lightbox="mucho-yellow" class="gallery">
                                            <img src="../assets/images/products/mucho/axo/mucho_yellow_top.jpg" class="product-wide" alt="Mucho">
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="swiper-slide-container">
                                        <a href="${require('../assets/images/products/mucho/axo/mucho_yellow_bottom.jpg')}" data-lightbox="mucho-yellow" class="gallery">
                                            <img src="../assets/images/products/mucho/axo/mucho_yellow_bottom.jpg" class="product-wide" alt="Mucho">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                        <div class="swiper-container gallery-thumbs gallery-thumbs-3">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"><div class="swiper-slide-container"><img src="../assets/images/products/mucho/mucho_yellow_front.jpg" alt="Mucho"></div></div>
                                <div class="swiper-slide"><div class="swiper-slide-container"><img src="../assets/images/products/mucho/mucho_yellow_back.jpg" alt="Mucho"></div></div>
                                <div class="swiper-slide"><div class="swiper-slide-container"><img src="../assets/images/products/mucho/axo/mucho_yellow_top.jpg" alt="Mucho"></div></div>
                                <div class="swiper-slide"><div class="swiper-slide-container"><img src="../assets/images/products/mucho/axo/mucho_yellow_bottom.jpg" alt="Mucho"></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-12 col-sm-6 product-detail__description">
                <div class="product-description__style">
                    FREESTYLE/FREERIDE
                </div>
                <h1 class="product-description__name">
                    MUCHO
                    <sup>145.43,5</sup>
                    <sup>142.43</sup>
                    <sup>138.43</sup>
                    <sup>134.42</sup>
                    <sup>129.40,5</sup>
                </h1>
                <div class="product-description__desc">
                    <p>Comfort comes first. We give you - A straight up Limo - kind to the knees, helpful with upwind and great when it comes to blocking water from getting into your eyes. </p>
                    <p>With Mucho we used the unique layered core technology where the convex part of the dock is a separate layer, hardening the midsection of the board significantly.  This unique shape - the so-called FISH BELLY makes it much easier to move the center of gravity to the front foot without diving underwater with the tip. This saves you energy and makes you stay out there longer.</p>
                    <p>Its construction is a very thin and, in the middle part, a very stiff board which surprises with consistent speed, significant shock absorption during landings and especially when riding in a chop.</p>
                    <p>Mucho is a unique board with unique features.</p>
                </div>
                <div class="product-description__select">
                    select a color:
                </div>
                <div class="product-description__colors">
                    <div class="product-description__red active" data-color="red"></div>
                    <div class="product-description__blue" data-color="blue"></div>
                    <div class="product-description__yellow" data-color="yellow"></div>
                </div>
                <div class="product-description__price">
                    826.00 € incl.21% VAT
                    <span>(fins included)</span>
                </div>
                <a href="where-to-buy" class="product-description__button">
                    Where to buy
                </a>
            </div>
            </div>
        </div>
    </section>

    <section>
        <div class="swiper-container detail-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="background__image mucho-detail__slide1"></div>
                </div>
                <div class="swiper-slide">
                    <div class="background__image mucho-detail__slide2"></div>
                </div>
                <div class="swiper-slide">
                    <div class="background__image mucho-detail__slide3"></div>
                </div>
                <div class="swiper-slide">
                    <div class="background__image mucho-detail__slide4"></div>
                </div>
                <div class="swiper-slide">
                    <div class="background__image mucho-detail__slide5"></div>
                </div>
                <div class="swiper-pagination detail-pagination"></div>
            </div>
        </div>
    </section>

    <section class="parameters">
        <div class="container">
            <div class="subtitle">
                MUCHO
            </div>
            <h2 class="title">
                CHARACTERISTICS
            </h2>
            <div class="parameters__wrapper">
                <div class="parameters__block">
                    <div class="parameters__style">
                        WAKESTYLE
                    </div>
                    <div class="parameters__icons">
                        <div class="parameters__icon parameters__icon--red"></div>
                        <div class="parameters__icon parameters__icon--red"></div>
                        <div class="parameters__icon"></div>
                        <div class="parameters__icon"></div>
                        <div class="parameters__icon"></div>
                        <div class="parameters__icon"></div>
                        <div class="parameters__icon"></div>
                    </div>
                </div>
                <div class="parameters__block">
                    <div class="parameters__style">
                        FREESTYLE
                    </div>
                    <div class="parameters__icons">
                        <div class="parameters__icon parameters__icon--red"></div>
                        <div class="parameters__icon parameters__icon--red"></div>
                        <div class="parameters__icon parameters__icon--red"></div>
                        <div class="parameters__icon parameters__icon--red"></div>
                        <div class="parameters__icon"></div>
                        <div class="parameters__icon"></div>
                        <div class="parameters__icon"></div>
                    </div>
                </div>
                <div class="parameters__block">
                    <div class="parameters__style">
                        FREERIDE
                    </div>
                    <div class="parameters__icons">
                        <div class="parameters__icon parameters__icon--red"></div>
                        <div class="parameters__icon parameters__icon--red"></div>
                        <div class="parameters__icon parameters__icon--red"></div>
                        <div class="parameters__icon parameters__icon--red"></div>
                        <div class="parameters__icon parameters__icon--red"></div>
                        <div class="parameters__icon parameters__icon--red"></div>
                        <div class="parameters__icon"></div>
                    </div>
                </div>
                <div class="parameters__block">
                    <div class="parameters__style">
                        ODLSCHOOL
                    </div>
                    <div class="parameters__icons">
                        <div class="parameters__icon parameters__icon--red"></div>
                        <div class="parameters__icon parameters__icon--red"></div>
                        <div class="parameters__icon parameters__icon--red"></div>
                        <div class="parameters__icon"></div>
                        <div class="parameters__icon"></div>
                        <div class="parameters__icon"></div>
                        <div class="parameters__icon"></div>
                    </div>
                </div>
                <div class="parameters__block">
                    <div class="parameters__style">
                        BEGINNERS
                    </div>
                    <div class="parameters__icons">
                        <div class="parameters__icon parameters__icon--red"></div>
                        <div class="parameters__icon parameters__icon--red"></div>
                        <div class="parameters__icon parameters__icon--red"></div>
                        <div class="parameters__icon parameters__icon--red"></div>
                        <div class="parameters__icon parameters__icon--red"></div>
                        <div class="parameters__icon"></div>
                        <div class="parameters__icon"></div>
                    </div>
                </div>

            </div>
        </div>
        <div class="parameters-other">
            <div class="container">
                <div class="parameters__wrapper parameters__wrapper--style">
                    <div class="parameters__block parameters__block--style">
                        <div class="parameters__style parameters__style--other">
                            <span>SIZES</span>
                            <div class="parameters__numbers">
                                <p>145.43,5</p>
                                <p>142.43</p>
                                <p>138.43</p>
                                <p>134.42</p>
                                <p>129.40,5</p>
                            </div>
                            <div class="hexagon hexagon--small"></div>
                        </div>
                    </div>
                    <div class="parameters__block parameters__block--style">
                        <div class="parameters__style parameters__style--other">
                            <span>Size of fins</span>
                            <div class="parameters__numbers">
                                <p>5cm</p>
                            </div>
                            <div class="hexagon hexagon--small"></div>
                        </div>
                    </div>
                    <div class="parameters__block parameters__block--style">
                        <div class="parameters__style parameters__style--other">
                            <span>Rocker</span>
                            <div class="parameters__numbers">
                                <p>3 stage</p>
                            </div>
                            <div class="hexagon hexagon--small"></div>
                        </div>
                    </div>
                    <div class="parameters__block parameters__block--style">
                        <div class="parameters__style parameters__style--other">
                            <span>Level of rider</span>
                            <div class="parameters__numbers">
                                <p>beginner / advanced</p>
                            </div>
                            <div class="hexagon hexagon--small"></div>
                        </div>
                    </div>
                    <div class="parameters__block parameters__block--style">
                        <div class="parameters__style parameters__style--other">
                            <span>Binding</span>
                            <div class="parameters__numbers">
                                <p>straps</p>
                            </div>
                            <div class="hexagon hexagon--small"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="two-column">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="two-column__inner two-column__inner--center two-column__inner--text reveal-up">
                        <div class="tech-pagination"></div>
                        <div class="swiper-container tech-text-swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <h2 class="title">Fish Belly</h2>
                                    <p class="text">This unique shape of the deck of the board which is convex in the middle was introduced back in 2008. It has been spreading among riders since then, being popular for its comfort. It looks like a fish belly, it strengthens the mid section of the board and makes riding easier in many ways.</p>
                                </div>
                                <div class="swiper-slide">
                                    <h2 class="title">Sword technology</h2>
                                    <p class="text">For most of our boards, we use the uniquely developed layered core construction. The core is layered similarly to steel in the manufacture of swords. Subsequently, the individual layers of the core are glued only after bending in the press. Thanks to this construction, it is impossible for the board to lose its curvature over time, as is the case with classic single-layer constructions. This way our boards can be the thinnest on the market.</p>
                                </div>
                                <div class="swiper-slide">
                                    <h2 class="title">Polyurethane edges</h2>
                                    <p class="text">The edges are cast from a mixture of polyurethane into a wood core. Compared to the classic ABS edges, they are much stronger and more durable. In addition, they can be easily repaired by edging when scratched.</p>
                                </div>
                                <div class="swiper-slide">
                                    <h2 class="title">Basalt</h2>
                                    <p class="text">It is an extremely resistant and hard material with a fine-grained structure. We use it to strengthen the lower part of the board to achieve the required stiffness and, at the same time, the necessary resistance to possible impacts on stones or corals.</p>
                                </div>
                                <div class="swiper-slide">
                                    <h2 class="title">CNC shaped wood core</h2>
                                    <p class="text">A wooden core, the heart of our boards, is irreplaceable for its typical lightness and other features. Using the CNC cutting technology, we are able to create a 3D profiling with sharp angles, essential for directional stability.</p>
                                </div>
                                <div class="swiper-slide">
                                    <h2 class="title">Hardened Protective Foil</h2>
                                    <p class="text">The top layer of all our boards is coated in a very durable and resistant structured foil which significantly extends their life.</p>
                                </div>
                            </div>
                        </div>
                        <div class="hexagon hexagon--left"></div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 padding-0">
                    <div class="swiper-container tech-swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="background__image mucho-tech-fish-belly"></div>
                            </div>
                            <div class="swiper-slide">
                                <div class="background__image mucho-tech-sword-technology"></div>
                            </div>
                            <div class="swiper-slide">
                                <div class="background__image mucho-tech-polyurethane-edges"></div>
                            </div>
                            <div class="swiper-slide">
                                <div class="background__image mucho-tech-basalt"></div>
                            </div>
                            <div class="swiper-slide">
                                <div class="background__image mucho-tech-cnc-shaped-wood-core"></div>
                            </div>
                            <div class="swiper-slide">
                                <div class="background__image mucho-tech-hardened-protective-foil"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="two-column">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 padding-0 order-mobile-2">
                    <div class="swiper-container brand-swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="background__image vazani__slide1"></div>
                            </div>
                            <div class="swiper-slide">
                                <div class="background__image vazani__slide4"></div>
                            </div>
                            <div class="swiper-slide">
                                <div class="background__image vazani__slide5"></div>
                            </div>
                            <div class="swiper-slide">
                                <div class="background__image vazani__slide6"></div>
                            </div>
                            <div class="swiper-pagination brand-pagination"></div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 order-mobile-1">
                    <div class="two-column__inner two-column__inner--center two-column__inner--text reveal-up">
                        <h2 class="title">BINDING</h2>

                        <p class="text">Our standard binding model which is the perfect match with our boards.
                            Comfort and support played a key role in the development and choice of materials used.
                        </p>
                        <div class="binding-price">119.00 € incl.21% VAT</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="two-column">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="two-column__inner two-column__inner--center two-column__inner--text reveal-up">
                        <h2 class="title">BINDING <sup>PRO</sup></h2>
                        <p class="text">A highly comfy binding model with a strong grip and a good leg support. Two straps make it easy to adjust to the shape of your foot. Binding angle is adjustable for maximum comfort.</p>
                        <div class="binding-price">149.00 € incl.21% VAT</div>
                        <div class="hexagon hexagon--left"></div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 padding-0">
                    <div class="swiper-container ambassadors-swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="background__image vazani__slide2"></div>
                            </div>
                            <div class="swiper-slide">
                                <div class="background__image vazani__slide3"></div>
                            </div>
                            <div class="swiper-slide">
                                <div class="background__image vazani__slide4"></div>
                            </div>
                            <div class="swiper-pagination ambassadors-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    ${require('./include/products.html')}
</main>

${require('./include/footer.html')}

