${require('./include/base.html')}

${require('./include/header.html')}

<main>
    <section>
        <div class="detail-top">
            <div class="detail-top__wrapper">
                <div class="detail-top__inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 upper">
                                <div class="subtitle subtitle--red">Find your nearest reseller. </div>
                                <h2 class="title title--red">They will be happy to assist you and, if you’re lucky, you get your
                                    board with a nice pink ribbon!</h2>
                            </div>
                        </div>
                    </div>
                    <div class="detail-top__banner">
                        <p>Would you like to partner with us and sell the best kiteboards you can find? Write to us now at
                            <a href="mailto:sales@futurekiteboarding.com">sales@futurekiteboarding.com</a>.</p>
                    </div>
                </div>
            </div>
            <div class="detail-top__bg detail-top__bg--contact"></div>
        </div>
    </section>

    <section class="dealers">
        <div class="dealers__block">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <div class="dealers__title">Brazil</div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="dealers__state">
                            Praia de Cumbuco
                        </div>
                        <div class="dealers__name">
                            Kite Cabana
                        </div>
                        <div class="dealers__link">
                            <a href="mailto:kitecabana@hotmail.com">
                                kitecabana@hotmail.com
                            </a>
                        </div>
                        <div class="dealers__link">
                            <a href="https://www.kitecabana.com.br" target="_blank">
                                www.kitecabana.com.br
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dealers__block dealers__block--grey">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <div class="dealers__title">Czech Republic</div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="dealers__state">
                            Prague
                        </div>
                        <div class="dealers__name">
                            Pegas
                        </div>
                        <div class="dealers__link">
                            <a href="mailto:pegas@pegas2000.cz">
                                pegas@pegas2000.cz
                            </a>
                        </div>
                        <div class="dealers__link">
                            <a href="http://pegas2000.com" target="_blank">
                                www.pegas2000.com
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dealers__block">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <div class="dealers__title">Italy</div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="dealers__state">
                            Lago di Garda
                        </div>
                        <div class="dealers__name">
                            Avid Kiteboarding
                        </div>
                        <div class="dealers__link">
                            <a href="mailto:avidkiteboarding@gmail.com">
                                avidkiteboarding@gmail.com
                            </a>
                        </div>
                        <div class="dealers__link">
                            <a href="https://avidkiteboarding.de" target="_blank">
                                www.avidkiteboarding.de
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dealers__block dealers__block--grey">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <div class="dealers__title">Sicily</div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="dealers__state">
                           Italy
                        </div>
                        <div class="dealers__name">
                            Kite Force
                        </div>
                        <div class="dealers__link">
                            <a href="mailto:info@kiteforce.cz">
                                info@kiteforce.cz
                            </a>
                        </div>
                        <div class="dealers__link">
                            <a href="https://kiteforce.cz" target="_blank">
                                www.kiteforce.cz
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dealers__block">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <div class="dealers__title">Israel</div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="dealers__state">
                            Tel Aviv
                        </div>
                        <div class="dealers__name">
                            KiteLab
                        </div>
                        <div class="dealers__link">
                            <a href="mailto:ran@kitelab.co.il">
                                ran@kitelab.co.il
                            </a>
                        </div>
                        <div class="dealers__link">
                            <a href="https://kitelab.co.il/" target="_blank">
                                www.kitelab.co.il
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dealers__block dealers__block--grey">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <div class="dealers__title">Netherlands</div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="dealers__state">
                            Laren
                        </div>
                        <div class="dealers__name">
                            Kiteoutlet
                        </div>
                        <div class="dealers__link">
                            <a href="mailto:info@kiteoutlet.eu">
                                info@kiteoutlet.eu
                            </a>
                        </div>
                        <div class="dealers__link">
                            <a href="https://www.kiteoutlet.eu" target="_blank">
                                www.kiteoutlet.eu
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dealers__block">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <div class="dealers__title">Spain</div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="dealers__state">
                            Fuerteventura
                        </div>
                        <div class="dealers__name">
                            Kryštov Rubáš
                        </div>
                        <div class="dealers__link">
                            <a href="https://www.facebook.com/krystof.rubas" target="_blank">
                                https://www.facebook.com/krystof.rubas
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

${require('./include/footer.html')}