${require('./include/base.html')}

${require('./include/header.html')}

<main>
    <section>
        <div class="detail-top">
            <div class="detail-top__wrapper">
                <div class="detail-top__inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 upper">
                                <div class="subtitle subtitle--red">Find your nearest reseller. </div>
                                <h2 class="title title--red">Find your nearest reseller. </h2>
                            </div>
                        </div>
                    </div>
                    <div class="detail-top__banner">
                        <p>Would you like to partner with us and sell the best kiteboards you can find? Write to us now at
                            <a href="mailto:sales@futurekiteboarding.com">sales@futurekiteboarding.com</a>.</p>
                    </div>
                </div>
            </div>
            <div class="detail-top__bg detail-top__bg--contact"></div>
        </div>
    </section>

    <section class="dealers">
        <div class="dealers__block">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <div class="dealers__title">Austria</div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="dealers__state">
                            Czech Republic
                        </div>
                        <div class="dealers__name">
                            Futurekiting
                        </div>
                        <div class="dealers__link">
                            <a href="mailto:future@kiting.com">
                                future@kiting.com
                            </a>
                        </div>
                        <div class="dealers__link">
                            <a href="www.futurekiting.com" target="_blank">
                                www.futurekiting.com
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dealers__block dealers__block--grey">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <div class="dealers__title">Belgium</div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="dealers__state">
                            Czech Republic
                        </div>
                        <div class="dealers__name">
                            Futurekiting
                        </div>
                        <div class="dealers__link">
                            <a href="mailto:future@kiting.com">
                                future@kiting.com
                            </a>
                        </div>
                        <div class="dealers__link">
                            <a href="www.futurekiting.com" target="_blank">
                                www.futurekiting.com
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="dealers__state">
                            Czech Republic
                        </div>
                        <div class="dealers__name">
                            Futurekiting
                        </div>
                        <div class="dealers__link">
                            <a href="mailto:future@kiting.com">
                                future@kiting.com
                            </a>
                        </div>
                        <div class="dealers__link">
                            <a href="www.futurekiting.com" target="_blank">
                                www.futurekiting.com
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dealers__block">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <div class="dealers__title">France</div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="dealers__state">
                            Czech Republic
                        </div>
                        <div class="dealers__name">
                            Futurekiting
                        </div>
                        <div class="dealers__link">
                            <a href="mailto:future@kiting.com">
                                future@kiting.com
                            </a>
                        </div>
                        <div class="dealers__link">
                            <a href="www.futurekiting.com" target="_blank">
                                www.futurekiting.com
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dealers__block dealers__block--grey">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <div class="dealers__title">Holand</div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="dealers__state">
                            Czech Republic
                        </div>
                        <div class="dealers__name">
                            Futurekiting
                        </div>
                        <div class="dealers__link">
                            <a href="mailto:future@kiting.com">
                                future@kiting.com
                            </a>
                        </div>
                        <div class="dealers__link">
                            <a href="www.futurekiting.com" target="_blank">
                                www.futurekiting.com
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="dealers__state">
                            Czech Republic
                        </div>
                        <div class="dealers__name">
                            Futurekiting
                        </div>
                        <div class="dealers__link">
                            <a href="mailto:future@kiting.com">
                                future@kiting.com
                            </a>
                        </div>
                        <div class="dealers__link">
                            <a href="www.futurekiting.com" target="_blank">
                                www.futurekiting.com
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dealers__block">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <div class="dealers__title">Spain</div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="dealers__state">
                            Czech Republic
                        </div>
                        <div class="dealers__name">
                            Futurekiting
                        </div>
                        <div class="dealers__link">
                            <a href="mailto:future@kiting.com">
                                future@kiting.com
                            </a>
                        </div>
                        <div class="dealers__link">
                            <a href="www.futurekiting.com" target="_blank">
                                www.futurekiting.com
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dealers__block dealers__block--grey">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <div class="dealers__title">German</div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="dealers__state">
                            Czech Republic
                        </div>
                        <div class="dealers__name">
                            Futurekiting
                        </div>
                        <div class="dealers__link">
                            <a href="mailto:future@kiting.com">
                                future@kiting.com
                            </a>
                        </div>
                        <div class="dealers__link">
                            <a href="www.futurekiting.com" target="_blank">
                                www.futurekiting.com
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="dealers__state">
                            Czech Republic
                        </div>
                        <div class="dealers__name">
                            Futurekiting
                        </div>
                        <div class="dealers__link">
                            <a href="mailto:future@kiting.com">
                                future@kiting.com
                            </a>
                        </div>
                        <div class="dealers__link">
                            <a href="www.futurekiting.com" target="_blank">
                                www.futurekiting.com
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dealers__block">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <div class="dealers__title">Poland</div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="dealers__state">
                            Czech Republic
                        </div>
                        <div class="dealers__name">
                            Futurekiting
                        </div>
                        <div class="dealers__link">
                            <a href="mailto:future@kiting.com">
                                future@kiting.com
                            </a>
                        </div>
                        <div class="dealers__link">
                            <a href="www.futurekiting.com" target="_blank">
                                www.futurekiting.com
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dealers__block dealers__block--grey">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <div class="dealers__title">Portugal</div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="dealers__state">
                            Czech Republic
                        </div>
                        <div class="dealers__name">
                            Futurekiting
                        </div>
                        <div class="dealers__link">
                            <a href="mailto:future@kiting.com">
                                future@kiting.com
                            </a>
                        </div>
                        <div class="dealers__link">
                            <a href="www.futurekiting.com" target="_blank">
                                www.futurekiting.com
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="dealers__state">
                            Czech Republic
                        </div>
                        <div class="dealers__name">
                            Futurekiting
                        </div>
                        <div class="dealers__link">
                            <a href="mailto:future@kiting.com">
                                future@kiting.com
                            </a>
                        </div>
                        <div class="dealers__link">
                            <a href="www.futurekiting.com" target="_blank">
                                www.futurekiting.com
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dealers__block">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <div class="dealers__title">Bulgaria</div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="dealers__state">
                            Czech Republic
                        </div>
                        <div class="dealers__name">
                            Futurekiting
                        </div>
                        <div class="dealers__link">
                            <a href="mailto:future@kiting.com">
                                future@kiting.com
                            </a>
                        </div>
                        <div class="dealers__link">
                            <a href="www.futurekiting.com" target="_blank">
                                www.futurekiting.com
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dealers__block dealers__block--grey">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <div class="dealers__title">Denmark</div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="dealers__state">
                            Czech Republic
                        </div>
                        <div class="dealers__name">
                            Futurekiting
                        </div>
                        <div class="dealers__link">
                            <a href="mailto:future@kiting.com">
                                future@kiting.com
                            </a>
                        </div>
                        <div class="dealers__link">
                            <a href="www.futurekiting.com" target="_blank">
                                www.futurekiting.com
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="dealers__state">
                            Czech Republic
                        </div>
                        <div class="dealers__name">
                            Futurekiting
                        </div>
                        <div class="dealers__link">
                            <a href="mailto:future@kiting.com">
                                future@kiting.com
                            </a>
                        </div>
                        <div class="dealers__link">
                            <a href="www.futurekiting.com" target="_blank">
                                www.futurekiting.com
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

${require('./include/footer.html')}