${require('./include/base.html')}

${require('./include/header.html')}

<main>
    <div class="homepage__top login">
        <div class="background__image login__slide">
            <div class="login__inner">
                <form action="/wholesale-pricelist-2022/index.php" name="login" method="post">
                    <div class="subtitle subtitle--white">PREMIUM RETAILER PROGRAM</div>
                    <h2 class="title title--medium title--white">private section</h2>
                    <input type="password" id="pass" name="password" minlength="8" class="required js-required" required placeholder="PASSWORD">
                    <button type="submit" class="btn">Log in</button>
                </form>
            </div>
        </div>
    </div>
</main>

