${require('./include/base.html')}

<title>FUTURE Kiteboarding</title>

<meta name="description" content="Look no further, fellow kite enthusiast, we got you covered! Best kiteboards for rookies as well as guys who don’t mess around. Click to see what’s up…"/>
<meta name="author" content="Ondřej Blaha"/>

<meta prefix="og: http:ogp.me/ns#" property="og:title" content="FUTURE Kiteboarding"/>
<meta prefix="og: http:ogp.me/ns#" property="og:description"
      content="Look no further, fellow kite enthusiast, we got you covered! Best kiteboards for rookies as well as guys who don’t mess around. Click to see what’s up…"/>
<meta prefix="og: http:ogp.me/ns#" property="og:type" content="website"/>
<meta prefix="og: http:ogp.me/ns#" property="og:image" content="http://futurekiteboarding.com/images/fb.jpg"/>
<meta prefix="og: http:ogp.me/ns#" property="og:image:secure_url"
      content="https://futurekiteboarding.com/images/fb.jpg"/>
<meta prefix="og: http:ogp.me/ns#" property="og:locale" content="cs_CZ"/>

${require('./include/base-bottom.html')}

${require('./include/header.html')}

<main>
    <div class="homepage__top login">
        <div class="background__image login__slide">
            <div class="login__inner">
                <form action="/wholesale-pricelist-2022/index.php" name="login" method="post">
                    <div class="subtitle subtitle--white">PREMIUM RETAILER PROGRAM</div>
                    <h2 class="title title--medium title--white">private section</h2>
                    <input type="password" id="pass" name="password" minlength="8" class="required js-required" required placeholder="PASSWORD">
                    <span id="wrongPass" class="login__error">Wrong password</span>
                    <button type="submit" class="btn">Log in</button>
                </form>

                <script>
                    document.getElementById("wrongPass").style.display = 'none';
                    function getParams() {
                        var result = {};
                        var tmp = [];

                        location.search
                            .substr(1)
                            .split("&")
                            .forEach(function (item) {
                                tmp = item.split("=");
                                result [tmp[0]] = decodeURIComponent(tmp[1]);
                            });

                        return result;
                    }

                    location.getParams = getParams;

                    if (location.getParams()['login'] !== undefined) {
                        document.getElementById("wrongPass").style.display = 'block';
                    }
                </script>
            </div>
        </div>
    </div>
</main>

