${require('./include/base.html')}

${require('./include/header.html')}

<main>
    <div class="homepage__top login">
        <div class="background__image login__slide">
            <div class="login__inner">
                <form action="/wholesale-pricelist-2022/index.php" name="login" method="post">
                    <div class="subtitle subtitle--white">PREMIUM RETAILER PROGRAM</div>
                    <h2 class="title title--medium title--white">private section</h2>
                    <input type="password" id="pass" name="password" minlength="8" class="required js-required" required placeholder="PASSWORD">
                    <span id="wrongPass" class="text--red mt-4">Wrong password</span>
                    <button type="submit" class="btn">Log in</button>
                </form>

                <script>
                    document.getElementById("wrongPass").style.display = 'none';
                    function getParams() {
                        var result = {};
                        var tmp = [];

                        location.search
                            .substr(1)
                            .split("&")
                            .forEach(function (item) {
                                tmp = item.split("=");
                                result [tmp[0]] = decodeURIComponent(tmp[1]);
                            });

                        return result;
                    }

                    location.getParams = getParams;

                    if (location.getParams()['login'] !== undefined) {
                        document.getElementById("wrongPass").style.display = 'block';
                    }
                </script>
            </div>
        </div>
    </div>
</main>

