$font: 'Fira Sans', sans-serif;

$border-radius: 4px;

$color-black: #000;
$color-button: #111;
$color-black2: #030303;
$color-black-background: rgba(2, 2, 2, .9);
$color-black-background2: #1a1a1a;
$color-white: #fff;
$color-red: #f00;
$color-red2: #f71106;
$color-grey: #838383;
$color-grey-footer: #989898;
$color-grey-hexagon: #f7f7f7;
$color-grey-dealers: #f3f3f3;
$color-blue: #31d5d5;
$color-yellow: #e7fd2d;
$color-green: #0f0;
$border: 1px solid #111;
$border-white: 1px solid #fff;

$color-red-hexagon: #ff3821;
$color-yellow-hexagon: #ffd600;
$color-green-hexagon: #00daee;
$color-blue-hexagon: #005fc2;


$hexagon: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
$rotate: rotate(15deg);
$rotate90: rotate(90deg);
$rotate-back: rotate(-15deg);
$shadow: drop-shadow(-2px 3px 10px rgba(0, 0, 0, .1));
