.product {

}

.product-gallery {
  overflow: hidden;
  @include phone {
    order: 2;
  }
  &__inner {
    display: none;
    &.active {
      display: block;
    }
  }
  .swiper-container {
    width: 100%;
    height: 300px;
    margin: 0 auto;
  }

  .swiper-slide-container {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 100%;
    max-width: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img {
      height: 500px;
      width: auto;
    }
  }

  .gallery-top {
    height: 500px;
    width: 100%;
  }
  .gallery-thumbs {
    height: 100px;
    box-sizing: border-box;
    padding: 10px 0;
  }
  .gallery-thumbs .swiper-slide {
    width: 20%;
    height: 100%;
    opacity: 0.4;
    img {
      height: 100%;
      width: auto;
    }
  }
  .gallery-thumbs .swiper-slide-active {
    opacity: 1;
  }
  .swiper-button-next, .swiper-button-prev {
    bottom: 50%;
  }
  .swiper-button-next {
    right: 30px;
  }
  .swiper-button-prev {
    left: 30px;
  }
}

.product-description {
  &__style {
    color: $color-red2;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 0.96px;
    line-height: 66px;
    margin-bottom: 20px;
  }
  &__name {
    color: $color-black2;
    font-size: 36px;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 0.96px;
    sup {
      vertical-align: super;
      font-size: 18px;
    }
  }
  &__desc {
    padding-top: 30px;
    p {
      color: $color-black2;
      margin-bottom: 10px;
      font-size: 14px;
      font-style: italic;
      font-weight: 300;
      letter-spacing: 0.37px;
      line-height: 17px;
    }
  }
  &__colors {
    margin: 30px 0;
    z-index: 10;
    display: flex;
    div {
      height: 30px;
      width: 30px;
      position: relative;
      margin: 0 3px;
      cursor: pointer;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        clip-path: $hexagon;
        transform: $rotate;
        display: block;
        inset: 0;
        pointer-events: none;
        z-index: -1;
      }
      &:before {
        display: none;
        height: 34px;
        width: 34px;
        content: '';
        position: absolute;
        bottom: 0;
        clip-path: $hexagon;
        transform: $rotate;
        inset: 0;
        pointer-events: none;
        z-index: -1;
        background: $color-black;
      }
      &.active {
        &:before {
          display: block;
          top: -2px;
          left: -2px;
        }
      }
    }
  }
  &__red {
    &:after {
      background: $color-red-hexagon;
    }
  }
  &__blue {
    &:after {
      background: $color-blue-hexagon;
    }
  }
  &__yellow {
    &:after {
      background: $color-yellow-hexagon;
    }
  }
  &__green {
    &:after {
      background: $color-green-hexagon;
    }
  }
  &__button {
    margin-top: 50px;
    border: $border;
    width: 90%;
    max-width: 320px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-black;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    &:hover {
      background: $color-button;
      color: $color-white;
    }
  }
  &__price {
    color: $color-black2;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 0.48px;
    line-height: 21px;
    span {
      display: block;
      font-weight: 300;
    }
  }
}

.product-detail {
  padding: 100px 0;
  &__description {
    z-index: 2;
    @include tablet-portrait {
      margin-bottom: 50px;
    }
  }
}

.detail-swiper {
  height: 100vh;
}

.detail-tech {
  height: 100vh;
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    max-width: 450px;
    &--right {
      margin-left: 150px;
      @include phone {
        margin-left: 0;
      }
    }
    .btn {
      margin-top: 50px;
    }
    &--center {
      margin: 0 auto;
    }
  }
  .title {
    margin-bottom: 30px;
    sup {
      vertical-align: super;
      font-size: 18px;
    }
  }
}