.product {

}

.product-gallery {
  overflow: hidden;
  display: none;
  position: relative;

  &.active {
    display: block;
  }

  .swiper-container {
    width: 100%;
    height: 300px;
    margin: 0 auto;
  }

  .swiper-slide-container {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 100%;
    max-width: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    a {
      position: relative;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .product-tall {
      height: 100%;
      width: auto;
    }

    .product-wide {
      height: auto;
      width: 100%;
    }

    img {
      height: 70%;
      width: auto;
    }
  }

  .gallery-top {
    height: 500px;
    width: 100%;
  }

  .gallery-thumbs {
    height: 100px;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .gallery-thumbs .swiper-slide {
    width: 20%;
    height: 100%;
    opacity: 0.4;
    cursor: pointer;

    img {
      height: 100%;
      width: auto;
    }
  }

  .gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
  }

  .swiper-button-next, .swiper-button-prev {
    bottom: 50%;
  }

  .swiper-button-next {
    right: 30px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z'/%3E%3C/svg%3E");

    &:after {
      content: none;
    }
  }

  .swiper-button-prev {
    left: 30px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M10.828 12l4.95 4.95-1.414 1.414L8 12l6.364-6.364 1.414 1.414z'/%3E%3C/svg%3E");

    &:after {
      content: none;
    }
  }

  .product__badges {
    position: absolute;
    top: 0;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 20;
  }

  .product__badge {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    color: $color-white;
    margin-bottom: 5px;
    font-size: 10px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0.27px;
    padding: 0 12px;
    @include animation();

    &:hover {
      transform: scale(1.05);
    }

    &--tested {
      background-color: #00c3ff;
    }

    &--new {
      background-color: #f71106;
    }

    &--soon {
      background-color: #000;
    }

    &--free {
      background-color: #4ab208;
    }
  }
}

.product-description {
  &__style {
    color: $color-red;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    margin-left: auto;
    @include phone {
      font-size: 28px;
      line-height: 50px;
      margin-left: unset;
    }
  }

  &__name {
    color: $color-black2;
    font-size: 36px;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 0.96px;
    display: flex;
    @include phone {
      flex-direction: column;
      display: none;
    }

    &--gallery {
      display: none;
      @include phone {
        display: block;
        margin-bottom: 30px;
      }
    }

    sup {
      vertical-align: super;
      text-transform: none;
      font-size: 12px;
      font-style: italic;
      font-weight: 500;
      letter-spacing: -0.18px;
      line-height: 14px;

      strong {
        font-size: 18px;
        letter-spacing: -0.12px;
      }
    }

    .model {
      font-size: 18px;
      font-weight: 500;
      margin-left: 10px;
    }
  }

  &__desc {
    p {
      color: $color-black2;
      margin-bottom: 10px;
      font-size: 14px;
      font-style: italic;
      font-weight: 300;
      letter-spacing: 0.37px;
      line-height: 17px;
    }
  }

  &__select {
    color: $color-black2;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 0.48px;
    line-height: 21px;
    margin-top: 20px;
    position: relative;
  }

  &__colors {
    margin: 10px 0 30px;
    z-index: 10;
    display: flex;
    position: relative;

    div {
      height: 30px;
      width: 30px;
      position: relative;
      margin: 0 3px;
      cursor: pointer;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        clip-path: $hexagon;
        transform: $rotate;
        display: block;
        inset: 0;
        pointer-events: none;
        z-index: -1;
      }

      &:before {
        display: none;
        height: 34px;
        width: 34px;
        content: '';
        position: absolute;
        bottom: 0;
        clip-path: $hexagon;
        transform: $rotate;
        inset: 0;
        pointer-events: none;
        z-index: -1;
        background: $color-black;
      }

      span {
        position: absolute;
        bottom: -25px;
        opacity: 0;
        visibility: hidden;
        width: 100px;
        text-transform: uppercase;
        @include animation();
      }

      &.active {
        &:before {
          display: block;
          top: -2px;
          left: -2px;
        }

        span {
          opacity: 1;
          visibility: visible;
        }
      }

    }
  }

  &__red {
    &:after {
      background: $color-red-hexagon;
    }

    span {
      color: $color-red-hexagon;
    }
  }

  &__blue {
    &:after {
      background: $color-blue-hexagon;
    }

    span {
      color: $color-blue-hexagon;
    }
  }

  &__yellow {
    &:after {
      background: $color-yellow-hexagon;
    }

    span {
      color: $color-yellow-hexagon;
    }
  }

  &__green {
    &:after {
      background: $color-green-hexagon;
    }

    span {
      color: $color-green-hexagon;
    }
  }

  &__button {
    margin-top: 0;
    border: $border;
    width: 90%;
    max-width: 320px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-black;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    position: relative;

    &:hover {
      background: $color-button;
      color: $color-white;
    }

    &--notify {
      &:after {
        content: '';
        position: absolute;
        background-image: url(./assets/images/icons/notify_me.svg);
        background-size: 20px;
        height: 20px;
        width: 20px;
        margin-left: 10px;
        top: 50%;
        transform: translateY(-50%);
        right: 80px;
        @include animation();
      }

      &:hover {
        &:after {
          background-image: url(./assets/images/icons/notify_me-white.svg);
        }
      }
    }
  }

  &__price {
    color: $color-black2;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 0.48px;
    line-height: 21px;
    position: relative;

    span {
      display: block;
      font-weight: 300;
    }
  }

  &__title {
    color: $color-black;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 0.48px;
    line-height: 39px;
    text-transform: uppercase;
  }

  &__note {
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 0.48px;
    line-height: 33px;
    margin: 10px 0;

    &--instock {
      color: #13d413;
    }

    &--outstock {
      color: $color-red2;
    }

    &--soon {
      color: #13d413;
    }

    &--preorder {
      color: #13d413;
    }
  }

  &__text {
    color: $color-black;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 0.37px;
    line-height: 17px;
    margin: 10px 0 30px;
  }

  &__vat {
    color: $color-black;
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 0.32px;
    line-height: 14px;
    margin: 20px 0;
  }

  &__sizes {
    position: relative;
    display: flex;
    margin: 10px 0;
    div {
      position: relative;
      height: 55px;
      width: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 5px 5px 5px;
      color: $color-white;
      font-size: 12px;
      font-style: italic;
      font-weight: 500;
      letter-spacing: 0.32px;
      cursor: pointer;

      &:after {
        content: '';
        position: absolute;
        background-color: rgba(0, 0, 0, 0.3);
        clip-path: $hexagon;
        transform: $rotate;
        display: block;
        inset: 0;
        pointer-events: none;
        z-index: -1;
      }

      &.active {
        &:after {
          background-color: rgba(0, 0, 0, 1);
        }
      }
    }
  }

  &__prices {
    display: flex;
    flex-direction: column;
    margin: 20px 0;

    &--eu {
      margin: 5px 0;
    }

    .sale-until {
      margin-top: 20px;
      color: $color-red;
      font-size: 14px;
      font-style: italic;
      font-weight: 500;
      letter-spacing: 0.37px;
      line-height: 17px;
    }

    .product-old-price {
      color: $color-black;
      font-size: 18px;
      font-style: italic;
      font-weight: 500;
      letter-spacing: -0.18px;
      line-height: 14px;
      text-decoration: line-through;
    }

    .product-new-price {
      color: $color-red;
      font-size: 18px;
      font-style: italic;
      font-weight: 500;
      letter-spacing: -0.18px;
      line-height: 14px;
      margin-right: 10px;
    }

    .product-delivery-destination {
      color: $color-black;
      font-size: 12px;
      font-style: italic;
      font-weight: 500;
      letter-spacing: -0.12px;
      line-height: 14px;
    }
  }
}

.product-detail {
  padding: 100px 0;
  @include tablet-portrait {
    padding: 100px 0 0 0;
  }

  &__description {
    z-index: 2;
    @include tablet-portrait {
      margin-bottom: 50px;
    }
  }

  .detail-badge {
    position: relative;
    width: 60px;
    height: 60px;
    display: block;
    margin-bottom: 20px;
    @include animation();

    svg {
      width: 100%;
      height: auto;
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}

.detail-swiper, .detail-swiper-bottom {
  height: 100vh;
}

.detail-tech {
  height: 100vh;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    max-width: 450px;

    &--right {
      margin-left: 150px;
      @include phone {
        margin-left: 0;
      }
    }

    .btn {
      margin-top: 50px;
    }

    &--center {
      margin: 0 auto;
    }
  }

  .title {
    margin-bottom: 30px;

    sup {
      vertical-align: super;
      font-size: 18px;
    }
  }
}

.tech-pagination {
  margin-bottom: 30px;

  .swiper-pagination-bullet {
    outline: 0;

    &:after {
      content: none;
    }
  }

  &__number {
    color: $color-grey;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 0.37px;
    line-height: 44px;
    padding-right: 40px !important;
    height: auto;
    position: relative;
    overflow: visible;
    display: inline-block;
    width: 80px;
    outline: 0;

    &:before {
      content: "";
      position: absolute;
      bottom: 50%;
      right: 0;
      height: 2px;
      width: 35px;
      background: $color-grey;
      transform: scaleX(0);
      transform-origin: left;
    }

    &.swiper-pagination-bullet-active {
      color: $color-red;

      &:before {
        transition: 12s transform;
        background: $color-red;
        transform: scaleX(1);
      }
    }
  }
}

.tech-text-swiper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .swiper-slide {
    opacity: 0 !important;
  }

  .swiper-slide-active {
    opacity: 1 !important;
  }
}

html body {
  .products {
    .product__image img.iksurfmag {
      display: block !important;
      width: auto;
      margin-left: 5px;
      height: 60%;
      position: relative;
      bottom: 2px;
    }
  }
}

.product-detail .product__badges .iksurfmag {
  display: block !important;
  width: auto;
  margin-left: 5px;
  height: 60%;
  position: relative;
  bottom: 2px;
}
