.login {
  &__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 570px;
    width: 570px;
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 55;
    @include phone {
      width: 470px;
      height: 470px;
      padding: 60px 40px;
    }
    &:after {
      content: '';
      position: absolute;
      background-color: $color-black;
      clip-path: $hexagon;
      transform: $rotate;
      display: block;
      inset: 0;
      pointer-events: none;
      z-index: -1;
    }
  }
  input {
    background: transparent;
    color: $color-white;
    font-size: 12px;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 0.32px;
    line-height: 66px;
    border: none;
    border-bottom: 1px solid $color-white;
    text-transform: uppercase;
    margin-right: 5px;
    margin-top: 30px;
    outline: none;
    &::placeholder {
      color: $color-white;
    }
  }
  .subtitle {
    margin-bottom: 0;
  }
  .btn {
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0.48px;
    line-height: 66px;
    color: $color-button;
    background-color: $color-white;
    border: 1px solid $color-white;
    margin-top: 30px;
    width: 100%;
    max-width: 100%;
    @include animation();
    &:hover {
      color: $color-white;
      background-color: $color-black;
      border: 1px solid $color-black;
    }
  }
  form {
    text-align: left;
    width: 300px;
    max-width: 90%;
  }
  &__error {
    display: none;
    color: $color-red;
    font-size: 14px;
    padding: 10px 0;
  }
}