${require('.././include/base.html')}

${require('.././include/header.html')}

<main>
    <div class="container">
        <div class="support">
            <h1 class="support__title">
                2 Year warranty
            </h1>
            <h2 class="support__subtitle">
                We use only the best materials available and carefully check the quality of all our products. Before launching our
                products on the market, we thoroughly test them and subject them to the strictest pressure tests.
            </h2>
            <p class="support__text">
                All good things come to and end, however, so we offer warranty service to all our customers for the period of two (
                2 ) years from the date of purchase on our website. If a product is found faulty during the warranty period due to
                defects in craftsmanship or materials, we will replace the product and cover shipping costs.
            </p>
            <p class="support__text">
                In order to process the replacement claim, we need you to send us detailed photos with a description of the
                defect.
            </p>
            <p class="support__text">
                Before taking any action, please contact us at <a href="mailto:info@futurekiteboarding.com">info@futurekiteboarding.com</a> and provide us with all the details of
                your claim. We will instruct you by e-mail on how to proceed within 48 hours. Please be aware that this warranty
                is limited to the original buyer only and applies only to products purchased on our e-
                shop <a href="https://futurekiteboarding.com/">www.futurekiteboarding.com</a>.
            </p>
            <p class="support__text">
               <strong>Unfortunately no product is indestructible and we must exclude the following:</strong>
            </p>
            <ul>
                <li>normal wear and tear</li>
                <li>any rips, punctures, scratches or any other damage caused by other objects</li>
                <li>sun/UV, water, sand and wind affected degradation</li>
                <li>damage caused by misuse, hard impacts/crashes, abuse, neglect and user error</li>
                <li>damage caused by improper assembly or set up</li>
                <li>damage caused by anything other than defects in material or workmanship</li>
            </ul>
            <p class="support__text">
                <strong>This warranty is void if:</strong>
            </p>
            <ul>
                <li>any modification or alteration has been made to the product</li>
                <li>the product has been previously repaired</li>
                <li>other than Kitelement products were used and resulted in the failure</li>
            </ul>
        </div>
    </div>
</main>

${require('.././include/footer.html')}