${require('.././include/base.html')}

<title>FUTURE | Free Shipping Worldwide</title>

<meta name="description" content="Look no further, fellow kite enthusiast, we got you covered! Best kiteboards for rookies as well as guys who don’t mess around. Click to see what’s up…"/>
<meta name="author" content="Ondřej Blaha"/>

<meta prefix="og: http:ogp.me/ns#" property="og:title" content="FUTURE | Free Shipping Worldwide"/>
<meta prefix="og: http:ogp.me/ns#" property="og:description"
      content="Look no further, fellow kite enthusiast, we got you covered! Best kiteboards for rookies as well as guys who don’t mess around. Click to see what’s up…"/>
<meta prefix="og: http:ogp.me/ns#" property="og:type" content="website"/>
<meta prefix="og: http:ogp.me/ns#" property="og:image" content="http://futurekiteboarding.com/images/fb.jpg"/>
<meta prefix="og: http:ogp.me/ns#" property="og:image:secure_url"
      content="https://futurekiteboarding.com/images/fb.jpg"/>
<meta prefix="og: http:ogp.me/ns#" property="og:locale" content="cs_CZ"/>

${require('.././include/base-bottom.html')}

${require('.././include/header.html')}

<main>
    <div class="container">
        <div class="support">
            <h1 class="support__title">
                Free Shipping Worldwide
            </h1>
            <h2 class="support__subtitle">
                We sell exclusively through our e-shop and want you to get the products you like easily with no extra cost, no matter
                where you are from. This is why we offer free shipping worldwide for every order over 400€ (400$).
            </h2>
            <p class="support__text">
                <strong>EU delivery</strong>
            </p>
            <p class="support__text">
                The shipping fee for every order below 400€ (400$) is 19€ (19$). We use DHL for deliveries within EU. Your order
                will be delivered within 4 work days.
            </p>
            <p class="support__text">
                <strong>Delivery outside EU</strong>
            </p>
            <p class="support__text">
                The shipping fee for every order below 400€ (400$) is 29€ (29$). We use FedEx for deliveries outside the EU. Your
                order will be delivered within 7 work days.
            </p>
        </div>
    </div>
</main>

${require('.././include/footer.html')}