${require('.././include/base.html')}

${require('.././include/header.html')}

<main>
    <div class="container">
        <div class="support">
            <h1 class="support__title">
                Non-EU delivery = No VAT
            </h1>
            <h2 class="support__subtitle">
                All orders delivered outside the EU will be automatically exempt from VAT deduction (21% of the sales price of
                the goods). This means that when your goods arrive, you will be obliged to pay only the local charges (import
                duties, customs fees).
            </h2>
            <p class="support__text">
                Please note we have no control over custom inspections and the delays caused by them.
            </p>
        </div>
    </div>
</main>

${require('.././include/footer.html')}