${require('.././include/base.html')}

<title>FUTURE | Non-EU delivery = No VAT</title>

<meta name="description" content="Look no further, fellow kite enthusiast, we got you covered! Best kiteboards for rookies as well as guys who don’t mess around. Click to see what’s up…"/>
<meta name="author" content="Ondřej Blaha"/>

<meta prefix="og: http:ogp.me/ns#" property="og:title" content="FUTURE | Non-EU delivery = No VAT"/>
<meta prefix="og: http:ogp.me/ns#" property="og:description"
      content="Look no further, fellow kite enthusiast, we got you covered! Best kiteboards for rookies as well as guys who don’t mess around. Click to see what’s up…"/>
<meta prefix="og: http:ogp.me/ns#" property="og:type" content="website"/>
<meta prefix="og: http:ogp.me/ns#" property="og:image" content="http://futurekiteboarding.com/images/fb.jpg"/>
<meta prefix="og: http:ogp.me/ns#" property="og:image:secure_url"
      content="https://futurekiteboarding.com/images/fb.jpg"/>
<meta prefix="og: http:ogp.me/ns#" property="og:locale" content="cs_CZ"/>

${require('.././include/base-bottom.html')}

${require('.././include/header.html')}

<main>
    <div class="container">
        <div class="support">
            <h1 class="support__title">
                Non-EU delivery = No VAT
            </h1>
            <h2 class="support__subtitle">
                All orders delivered outside the EU will be automatically exempt from VAT deduction (21% of the sales price of
                the goods). This means that when your goods arrive, you will be obliged to pay only the local charges (import
                duties, customs fees).
            </h2>
            <p class="support__text">
                Please note we have no control over custom inspections and the delays caused by them.
            </p>
        </div>
    </div>
</main>

${require('.././include/footer.html')}