${require('.././include/base.html')}

${require('.././include/header.html')}

<main>
    <div class="container">
        <div class="support">
            <h1 class="support__title">
                Privacy Policy
            </h1>
            <h2 class="support__subtitle">
                one label s.r.o.<br>
                Registered office: Kuchařovická 3611/11, 669 02 Znojmo, Company identification number: 2474727,
                entered in the Commercial Register maintained by the Regional Court in Brno, file ref.: C 81435
            </h2>
            <p class="support__text">
                (hereinafter referred to as the “<strong>Controller</strong>”)
            </p>
            <p class="support__text">
                in accordance with Section 5 (2) of Act No. 101/2000 Sb., on the Protection of Personal Data, as amended, and in accordance with Article 6 (1) a) of Regulation (EU) of the European Parliament and the Council 2016/679 of 27 April 2016 on the protection of natural persons with regard to the processing of personal data and on the free movement of such data, and repealing Directive 95/46/EC (General Data Protection Regulation – GDPR),
            </p>
            <p class="support__text">
                hereby issues the following
            </p>
            <p class="support__text">
                <strong>Personal data processing principles when operating an e-shop</strong>
            </p>
            <p class="support__text">
                <strong>1. Who processes your data?</strong>
            </p>
            <p class="support__text">
                We are one label s.r.o., with registered office at: Kuchařovická 3611/11, 669 02 Znojmo, Company
                identification number: 2474727 entered in the Commercial Register maintained by the Regional Court in Brno, file ref.: C 81435 and your personal data will only be processed according to the following principles:
            </p>
            <p class="support__text">
                <strong>2. What personal data do we process?</strong>
            </p>
            <p class="support__text">
                We process only the personal data you provide to us in relation to using our services (e.g. when making an
                order). These are the following:
            </p>
            <ul>
                <li>Name of your organization;</li>
                <li>Name and surname;</li>
                <li>Contact address or delivery address;</li>
                <li>Phone number;</li>
                <li>Company ID or Tax ID;</li>
                <li>Bank details;</li>
            </ul>
            <p class="support__text">
                and also the data we obtain as a result of you using our website:
            </p>
            <ul>
                <li>Usage statistics;</li>
                <li>Monitoring of website visitors’ behaviour;</li>
                <li>Order history monitoring;</li>
                <li>Cookies.</li>
            </ul>
            <p class="support__text">
                <strong>3. Why do we process your personal data?</strong>
            </p>
            <p class="support__text">
                We process your personal data for the following purposes:
            </p>
            <ul>
                <li>Provision of services and goods;</li>
                <li>Showing only advertisements based on your interests;</li>
                <li>Carrying out analyses and measurements to learn how our services are used;</li>
                <li>Sending newsletters including offers of goods and services of our company (newsletters can be cancelled at...)</li>
                <li>Answering your enquiries sent by means of the contact form</li>
            </ul>
            <p class="support__text">
                <strong>4. Who will have access to your data?</strong>
            </p>
            <p class="support__text">
                Your personal data are processed by our company and its authorised employees. Your personal data may be disclosed also to third parties, our partners, who are able to ensure such technical and organizational protection of your personal data that prevents unauthorised or accidental access to your data or their misuse. All our partners are bound by the confidentiality duty and must not use the provided data to any other purposes than the purposes we provided them for.
            </p>
            <p class="support__text">
                The following third parties may have access to your personal data:
            </p>
            <ul>
                <li>Parties to whom we provide data to analyse our website usage;</li>
                <li>Parties that ensure technical operation or operate technologies we use for our services;</li>
                <li>Parties that deliver marketing newsletters to you;</li>
                <li>Payment gateways providers;</li>
                <li>Legal representatives for the purpose of collecting claims for our company;</li>
                <li>Advertising systems providers in connection with customized advertising;</li>
                <li>Providers of technical solutions which enable us to show you only the context and advertisements which are relevant for you;</li>
                <li>Public authorities and other recipients provided it is a legal duty of the company, e.g. as prescribed by law or a public authority decision.</li>
            </ul>
            <p class="support__text">
               <strong>5. What are cookies and what types of cookies do we use?</strong>
            </p>
            <p class="support__text">
                Cookies small data files that enable websites to remember activities and settings their users made. Cookies are stored in computers using web browsers. Cookies are not used to collect any sensitive personal data, however, they are important for privacy protection. We do not use cookies to obtain identities of website users or to misuse logins.
            </p>
            <p class="support__text">
                For example, cookies enable us to recognize returning users (e.g. when logging into their e-mail accounts, for payment authorisation etc.) or to customize a service according to user preferences. We also use cookies to show “behaviourally targeted on-line advertising” on the Company’s web portals and outside, i.e. to show only the advertisements which are relevant to particular users so that they are not bothered by advertisements that are not of interest to them.
            </p>
            <p class="support__text">
                We also use cookies when users use services we offer to our partners, such as advertising services or function related to services of the Company that may appear on different websites.
            </p>
            <p class="support__text">
                Another type are third-party cookies (e.g. Google Analytics for usage analysis of a particular website or a particular service, or cookies of operators of advertising systems that are operated on our website). Such cookies are controlled by third parties and we do not have the access to reading or recording of these data.
            </p>
            <p class="support__text">
                Your consent via a web application is required to process personal data by means of cookies.
            </p>
            <p class="support__text">
                <strong>6. How long do we process your data?</strong>
            </p>
            <p class="support__text">
                We will process your personal data for the whole time you use our services (i.e. the duration of the contractual relationship) and then on the basis of your consent unless you withdraw this consent. Personal data may be processed for the purposes of protection of legitimate interests of our company even after the termination of the contractual relationship, for the duration stipulated by law; if there is no such duration, then for the period of 10 years after the termination of the contractual relationship for the purposes of eventual disputes and for the duration of such disputes.
            </p>
            <p class="support__text">
                <strong>7. What entitles us to process your personal data?</strong>
            </p>
            <p class="support__text">
                Personal data may be processed on the basis of:
            </p>
            <ul>
                <li>Providing services or goods (performance of a contract entered into with you);</li>
                <li>Meeting legal duties that arise for the company from legal regulations;</li>
                <li>Necessary processing for the purposes of legitimate interests of the company (e.g. direct marketing);</li>
                <li>Given consent (e.g. for cookie processing).</li>
            </ul>
            <p class="support__text">
                <strong>8. How are your personal data protected?</strong>
            </p>
            <p class="support__text">
                All personal data you give us are protected by standard methods and technologies. However, it is not objectively possible to fully guarantee the protection of your personal data. For this reason the company performs regular checks of our system and the adopted technical and organizational measures.
            </p>
            <p class="support__text">
                <strong>9. How and when can you withdraw your consent to personal data processing?</strong>
            </p>
            <p class="support__text">
                You can withdraw your voluntarily given consent to personal data processing at any time and for free by emailing us at:  info@kitelementshop.com. Revocation of the consent is without prejudice to the lawfulness of processing of your personal data on the basis of your consent given prior to its withdrawal. Withdrawal of consent also does not affect processing of personal data, which we process on a different legal basis than consent (i.e. especially if such processing is necessary for a performance of a contract, a legal obligation or for other reasons stipulated by legal regulations).
            </p>
            <p class="support__text">
                <strong>10. Am I obliged to provide my personal data?</strong>
            </p>
            <p class="support__text">
                Providing your personal data to us is voluntary. However, some personal data are required to provide services or goods and it is not possible to provide goods or services without them.
            </p>
            <p class="support__text">
                <strong>11. What are your rights in relation to personal data protection?</strong>
            </p>
            <p class="support__text">
                You have the following rights in terms of processing of your personal data:
            </p>
            <ul>
                <li>right to withdraw your consent to personal data processing provided such processing is based on the consent;</li>
                <li>right to request information about what personal data related to a data subject we process;</li>
                <li>right to access the personal data processed about a data subject;</li>
                <li>right to correction of such personal data;</li>
                <li>right to deletion of personal data;</li>
                <li>right to restriction of personal data processing;</li>
                <li>right to transfer personal data to a different controller;</li>
                <li>right to raise an objection to personal data processing;</li>
                <li>right to lodge a complaint with Office for personal data protection.</li>
            </ul>
            <p class="support__text">
                <strong>12. What does right to raise an objection mean?</strong>
            </p>
            <p class="support__text">
                If you no longer wish to receive from time to time newsletters or other information about new products and services in our portfolio, you can raise an objection to further processing of your personal data for the purposes of direct marketing. If you do so, we will no longer process your personal data for these purposes and will not continue sending you marketing information and newsletters.
            </p>
            <p class="support__text">
                <strong>13. How can you contact us?</strong>
            </p>
            <p class="support__text">
                If you have any questions regarding personal data protection or if you wish to withdraw your consent to personal data processing, please e-mail us at  info@kitelementshop.com or write to our address: Kuchařovická 3611/11, 669 02 Znojmo, Czech Republic.
            </p>
            <p class="support__text">
                Please note that we may wish you prove your identity accordingly so that we can verify it. It is a preventive safety measure to prevent access of unauthorised persons to your personal data.
            </p>
            <p class="support__text">
                In Znojmo, on 24 May 2018
            </p>
            <p class="support__text">
                __________________________
            </p>
            <p class="support__text">
                one label s.r.o.<br>
                Mgr. Jakub Kaman<br>
                Director
            </p>
        </div>
    </div>
</main>

${require('.././include/footer.html')}