${require('.././include/base.html')}

<title>FUTURE | Returns</title>

<meta name="description" content="Look no further, fellow kite enthusiast, we got you covered! Best kiteboards for rookies as well as guys who don’t mess around. Click to see what’s up…"/>
<meta name="author" content="Ondřej Blaha"/>

<meta prefix="og: http:ogp.me/ns#" property="og:title" content="FUTURE | Returns"/>
<meta prefix="og: http:ogp.me/ns#" property="og:description"
      content="Look no further, fellow kite enthusiast, we got you covered! Best kiteboards for rookies as well as guys who don’t mess around. Click to see what’s up…"/>
<meta prefix="og: http:ogp.me/ns#" property="og:type" content="website"/>
<meta prefix="og: http:ogp.me/ns#" property="og:image" content="http://futurekiteboarding.com/images/fb.jpg"/>
<meta prefix="og: http:ogp.me/ns#" property="og:image:secure_url"
      content="https://futurekiteboarding.com/images/fb.jpg"/>
<meta prefix="og: http:ogp.me/ns#" property="og:locale" content="cs_CZ"/>

${require('.././include/base-bottom.html')}

${require('.././include/header.html')}

<main>
    <div class="container">
        <div class="support">
            <h1 class="support__title">
                Returns
            </h1>
            <h2 class="support__subtitle">
                Customers have the right to cancel the contract. The period in which the customer can cancel the contract starts
                from the day the contract is initially closed, and lasts until 30 days from the day after receipt of the goods.
                This cancellation right can be applied in case the goods are not of satisfactory quality, fit for their purpose or do
                not match their description.
            </h2>
            <p class="support__text">
                Return and refund policy:
            </p>
            <p class="support__text">
                <strong>1. Return Notice</strong>
            </p>
            <p class="support__text">
                Send us the information related to your decision to return the goods by e-mail: <a href="mailto:info@futurekiteboarding.com">info@futurekiteboarding.com</a>.
                In the e-mail, please state your order number, name of the product you are returning and the reason(s) for
                returning it.
            </p>
            <p class="support__text">
                <strong>2. Confirmation of your request</strong>
            </p>
            <p class="support__text">
                We will reply with feedback and or instructions within 48 hours.
            </p>
            <p class="support__text">
                <strong>3. Preparing the shipment for dispatch</strong>
            </p>
            <p class="support__text">
                Carefully pack the goods in their original packaging and send them no later than 30 days from the date of delivery
                of the original shipment to the return address we sent you in the confirmation email. Please note that you as the
                customer are to pay for the shipping costs associated with the return of the shipment.
            </p>
            <p class="support__text">
                <strong>4. Confirmation of shipment receipt</strong>
            </p>
            <p class="support__text">
                After receiving the goods in our warehouse, we will check whether the product complies with the conditions for
                return and refund. If everything is in order, you are entitled to a refund of the original purchase price for the goods.
                Otherwise, we will contact you to resolve the situation.
            </p>
            <p class="support__text">
                <strong>5. Refunds</strong>
            </p>
            <p class="support__text">
                We will transfer the money for the returned goods no later than 30 days from the date of dispatch of the e-mail
                confirming receipt of the very goods. We will send the money using the same payment method you chose when
                ordering the goods.
            </p>
            <p class="support__text">
                This cancellation right can be applied in case the goods are not of satisfactory quality, fit for their purpose or do
                not match their description.
            </p>
        </div>
    </div>
</main>

${require('.././include/footer.html')}