${require('.././include/base.html')}

<title>FUTURE | Terms and Conditions</title>

<meta name="description" content="Look no further, fellow kite enthusiast, we got you covered! Best kiteboards for rookies as well as guys who don’t mess around. Click to see what’s up…"/>
<meta name="author" content="Ondřej Blaha"/>

<meta prefix="og: http:ogp.me/ns#" property="og:title" content="FUTURE | Terms and Conditions"/>
<meta prefix="og: http:ogp.me/ns#" property="og:description"
      content="Look no further, fellow kite enthusiast, we got you covered! Best kiteboards for rookies as well as guys who don’t mess around. Click to see what’s up…"/>
<meta prefix="og: http:ogp.me/ns#" property="og:type" content="website"/>
<meta prefix="og: http:ogp.me/ns#" property="og:image" content="http://futurekiteboarding.com/images/fb.jpg"/>
<meta prefix="og: http:ogp.me/ns#" property="og:image:secure_url"
      content="https://futurekiteboarding.com/images/fb.jpg"/>
<meta prefix="og: http:ogp.me/ns#" property="og:locale" content="cs_CZ"/>

${require('.././include/base-bottom.html')}

${require('.././include/header.html')}

<main>
    <div class="container">
        <div class="support">
            <h1 class="support__title">
                Terms and Conditions
            </h1>
            <h2 class="support__subtitle">
                Our terms and Conditions are in full compliance with the Czech Law. The relevant Czech law will apply to the
                Agreement and the relevant courts of the Czech Republic will have exclusive jurisdiction in relation to the
                Agreement.
            </h2>
            <h2 class="support__subtitle">
                The Contract
            </h2>
            <p class="support__text">
                The contract to supply goods by the Future kiteboarding to its customers will enter into effect after the customer
                pays Future kiteboarding for the order. The Future kiteboarding will email the confirmation.
            </p>
            <h2 class="support__subtitle">
                Personal Data
            </h2>
            <p class="support__text">
                All personal data supplied by the customer to Future kiteboarding via the shop will be used solely to process and
                monitor the transaction for which the information is supplied.<br>
                Release of such personal data by the customer is therefore deemed to be in acceptance of Future kiteboarding
                processing this data to meet the order in question.
            </p>
            <h2 class="support__subtitle">
                Privacy and Security Statement
            </h2>

            <p class="support__text">We collect all personal information about customers supplied by the them while completing the online ordering
                process. We do not collect any information relating to credit or debit cards (including credit card number).
                All such information supplied to us by customers is only used by Future kiteboarding to contact customers in
                connection with the specific purchase being made and in strict accordance with Future kiteboarding´s privacy
                statement.</p>

            <p class="support__text">If making payment for goods using Payment Gateway your order will be processed by Payment Gateway whose
                secure server encrypts credit card information to ensure that transactions are safely completed over the Internet.
                Future kiteboarding will receive details of your order - but not your credit card number - as soon as Payment
                Gateway have debited your account on behalf of the Future kiteboarding.<br>Payment Gateway will confirm this debit with you directly and the Future kiteboarding will confirm the receipt of
                your order - and give you a progress report on stock availability - within two working days. We are very confident
                about the transaction security we offer. However, if you still do not wish to make your purchase online with your
                credit card there are other ways to pay. If you have any questions about these arrangements, please contact us.</p>

            <h2 class="support__subtitle">
                Returns
            </h2>

            <p class="support__text">Customers have the right to cancel the contract. The period in which the customer can cancel the contract starts
                from the day the contract is initially made, and lasts until 30 days from the day after receipt of the goods.
                In such cases, the purchase price including delivery cost will be refunded to the customer within 30 days. The 30
                day refund period will begin on the day the consumer gave notice to cancel the contract. Please note that you as
                the customer are to pay for the shipping costs associated with the return of the shipment.<br>
                This cancellation right can be applied in case the goods are not of satisfactory quality, fit for their purpose or do
                not match their description.</p>

            <h2 class="support__subtitle">
                Pricing
            </h2>

            <p class="support__text">The price you pay is the price displayed on this website at the time you place your order, and this price will remain
                valid until the goods are supplied or until the order has been cancelled.</p>

            <h2 class="support__subtitle">
                Delivery
            </h2>

            <p class="support__text">The Future kiteboarding will make every effort to ensure that all orders are delivered within the specified dates for
                the locations after receiving the order.<br>
                If this is not possible for any reason, the customer will be informed by appropriate means (email, post or
                telephone) and his or her money will be refunded.<br>
                Reimbursement will take place as soon as possible, and at the latest within a period of 60 days from the order
                being received.</p>

            <h2 class="support__subtitle">
                Complaints
            </h2>

            <p class="support__text">Should you have any complaints or questions about any aspect of this online shop or the products you have
                received, please contact us.</p>

            <p class="support__text"><a href="mailto:info@futurekiteboarding.com">info@futurekiteboarding.com</a></p>
        </div>
    </div>
</main>

${require('.././include/footer.html')}