.background__image {
  background-size: cover;
  background-position: center;
  height: 100%;
  @include tablet-portrait {
    height: 100vh;
  }
}

.homepage-swiper {
  padding: 0 !important;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.homepage__slide1 {
  background-image: url(./assets/images/background/homepage_top_bg.jpg);
  @include phone {
    background-image: url(./assets/images/background/homepage_top_bg.jpg);
  }
}

.homepage__slide2 {
  background-image: url(./assets/images/background/homepage_top_bg.jpg);
  @include phone {
    background-image: url(./assets/images/background/homepage_top_bg.jpg);
  }
}

.homepage__slide3 {
  background-image: url(./assets/images/background/homepage_top_bg.jpg);
  @include phone {
    background-image: url(./assets/images/background/homepage_top_bg.jpg);
  }
}

.homepage__slide4 {
  background-image: url(./assets/images/background/homepage_top_bg.jpg);
  @include phone {
    background-image: url(./assets/images/background/homepage_top_bg.jpg);
  }
}

.boss-detail__slide1 {
  background-image: url(./assets/images/detail/slider/boss/boss1_large.jpg);
  @include phone {
    background-image: url(./assets/images/detail/slider/boss/boss1_mobile.jpg);
  }
}

.boss-detail__slide2 {
  background-image: url(./assets/images/detail/slider/boss/boss2_large.jpg);
  @include phone {
    background-image: url(./assets/images/detail/slider/boss/boss2_mobile.jpg);
  }
}

.boss-detail__slide3 {
  background-image: url(./assets/images/detail/slider/boss/boss3_large.jpg);
  @include phone {
    background-image: url(./assets/images/detail/slider/boss/boss3_mobile.jpg);
  }
}

.boss-detail__slide4 {
  background-image: url(./assets/images/detail/slider/boss/boss4_large.jpg);
  @include phone {
    background-image: url(./assets/images/detail/slider/boss/boss4_mobile.jpg);
  }
}

.boss-detail__slide5 {
  background-image: url(./assets/images/detail/slider/boss/boss5_large.jpg);
  @include phone {
    background-image: url(./assets/images/detail/slider/boss/boss5_mobile.jpg);
  }
}

.jiggy-detail__slide1 {
  background-image: url(./assets/images/detail/slider/jiggy/jiggy1_large.jpg);
  @include phone {
    background-image: url(./assets/images/detail/slider/jiggy/jiggy1_mobile.jpg);
  }
}

.jiggy-detail__slide2 {
  background-image: url(./assets/images/detail/slider/jiggy/jiggy2_large.jpg);
  @include phone {
    background-image: url(./assets/images/detail/slider/jiggy/jiggy2_mobile.jpg);
  }
}

.jiggy-detail__slide3 {
  background-image: url(./assets/images/detail/slider/jiggy/jiggy3_large.jpg);
  @include phone {
    background-image: url(./assets/images/detail/slider/jiggy/jiggy3_mobile.jpg);
  }
}

.jiggy-detail__slide4 {
  background-image: url(./assets/images/detail/slider/jiggy/jiggy4_large.jpg);
  @include phone {
    background-image: url(./assets/images/detail/slider/jiggy/jiggy4_mobile.jpg);
  }
}

.mucho-detail__slide1 {
  background-image: url(./assets/images/detail/slider/mucho/mucho1_large.jpg);
  @include phone {
    background-image: url(./assets/images/detail/slider/mucho/mucho1_mobile.jpg);
  }
}

.mucho-detail__slide2 {
  background-image: url(./assets/images/detail/slider/mucho/mucho2_large.jpg);
  @include phone {
    background-image: url(./assets/images/detail/slider/mucho/mucho2_mobile.jpg);
  }
}

.mucho-detail__slide3 {
  background-image: url(./assets/images/detail/slider/mucho/mucho3_large.jpg);
  @include phone {
    background-image: url(./assets/images/detail/slider/mucho/mucho3_mobile.jpg);
  }
}

.mucho-detail__slide4 {
  background-image: url(./assets/images/detail/slider/mucho/mucho4_large.jpg);
  @include phone {
    background-image: url(./assets/images/detail/slider/mucho/mucho4_mobile.jpg);
  }
}

.mucho-detail__slide5 {
  background-image: url(./assets/images/detail/slider/mucho/mucho5_large.jpg);
  @include phone {
    background-image: url(./assets/images/detail/slider/mucho/mucho5_mobile.jpg);
  }
}

.oraculum-detail__slide1 {
  background-image: url(./assets/images/detail/slider/oraculum/oraculum1_large.jpg);
  @include phone {
    background-image: url(./assets/images/detail/slider/oraculum/oraculum1_mobile.jpg);
  }
}

.oraculum-detail__slide2 {
  background-image: url(./assets/images/detail/slider/oraculum/oraculum2_large.jpg);
  @include phone {
    background-image: url(./assets/images/detail/slider/oraculum/oraculum2_mobile.jpg);
  }
}

.oraculum-detail__slide3 {
  background-image: url(./assets/images/detail/slider/oraculum/oraculum3_large.jpg);
  @include phone {
    background-image: url(./assets/images/detail/slider/oraculum/oraculum3_mobile.jpg);
  }
}

.oraculum-detail__slide4 {
  background-image: url(./assets/images/detail/slider/oraculum/oraculum4_large.jpg);
  @include phone {
    background-image: url(./assets/images/detail/slider/oraculum/oraculum4_mobile.jpg);
  }
}

.tech__slide1 {
  background-image: url(./assets/images/detail/tech/tech_1.jpg);
}

.tech__slide2 {
  background-image: url(./assets/images/detail/tech/tech_2.jpg);
}

.tech__slide3 {
  background-image: url(./assets/images/detail/tech/tech_3.jpg);
}

.tech__slide4 {
  background-image: url(./assets/images/detail/tech/tech_4.jpg);
}

.tech__slide5 {
  background-image: url(./assets/images/detail/tech/tech_5.jpg);
}

.tech__slide6 {
  background-image: url(./assets/images/detail/tech/tech_6.jpg);
}

.tech__slide7 {
  background-image: url(./assets/images/detail/tech/tech_7.jpg);
}

.tech__slide8 {
  background-image: url(./assets/images/detail/tech/tech_8.jpg);
}

.tech__slide9 {
  background-image: url(./assets/images/detail/tech/tech_9.jpg);
}

.tech__slide10 {
  background-image: url(./assets/images/detail/tech/tech_10.jpg);
}

.vazani__slide1 {
  background-image: url(./assets/images/detail/vazani/vazani_1.jpg);
}

.vazani__slide2 {
  background-image: url(./assets/images/detail/vazani/vazani_2.jpg);
}

.vazani__slide3 {
  background-image: url(./assets/images/detail/vazani/vazani_3.jpg);
}

.vazani__slide4 {
  background-image: url(./assets/images/detail/vazani/vazani_4.jpg);
}

.vazani__slide5 {
  background-image: url(./assets/images/detail/vazani/vazani_5.jpg);
}

.vazani__slide6 {
  background-image: url(./assets/images/detail/vazani/vazani_6.jpg);
}

.about__1 {
  background-image: url(./assets/images/detail/tech/tech_1.jpg);
}

.wake__1 {
  background-image: url(./assets/images/wake/wake_1.jpg);
}

.wake__2 {
  background-image: url(./assets/images/wake/wake_2.jpg);
}

.wake__3 {
  background-image: url(./assets/images/wake/wake_3.jpg);
}

.wake__4 {
  background-image: url(./assets/images/wake/wake_4.jpg);
}



