.homepage {
  &__top {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  &__banner {
    position: absolute;
    bottom: -200px;
    z-index: 5;
    left: 100px;
    height: 500px;
    width: 500px;
    padding: 80px;
    &:after {
      content: '';
      position: absolute;
      background-color: $color-white;
      clip-path: $hexagon;
      transform: $rotate;
      display: block;
      inset: 0;
      pointer-events: none;
      z-index: -1;
    }
    h2 {
      color: $color-black;
      font-size: 36px;
      font-style: italic;
      font-weight: 300;
      letter-spacing: 0.96px;
      line-height: 51px;
      span {
        font-weight: 500;
        display: block;
      }
    }
    p {
      color: $color-black;
      font-size: 18px;
      font-style: italic;
      font-weight: 300;
      letter-spacing: 0.01px;
      line-height: 22px;
      padding: 20px 0;
    }
    .swiper-pagination {
      bottom: unset;
      left: 0;
      width: unset;
    }
  }
}

.ambassadors-hp, .brand-hp {
  height: 100vh;
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    max-width: 350px;
    &--right {
      margin-left: 150px;
      @include phone {
        margin-left: 0;
      }
    }
    .btn {
      margin-top: 50px;
    }
  }
  .title {
    margin-bottom: 30px;
  }
}