<!doctype html>

<html lang="cs" dir="ltr">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>

    <title>FUTURE Kiteboarding</title> <!-- max 55 characters -->

    <!--<meta http-equiv="Content-Security-Policy" content="default-src * 'self' http://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'" />-->

    <meta name="description" content="Look no further, fellow kite enthusiast, we got you covered! Best kiteboards for rookies as well as guys who don’t mess around. Click to see what’s up…"/> <!-- max 150 characters -->
    <meta name="author" content="Ondřej Blaha"/>

    <meta prefix="og: http:ogp.me/ns#" property="og:title" content="FUTURE Kiteboarding"/>
    <meta prefix="og: http:ogp.me/ns#" property="og:description" content="Look no further, fellow kite enthusiast, we got you covered! Best kiteboards for rookies as well as guys who don’t mess around. Click to see what’s up…"/>
    <meta prefix="og: http:ogp.me/ns#" property="og:type" content="website"/>
    <meta prefix="og: http:ogp.me/ns#" property="og:image" content="http://www.domain.cz/images/fb.jpg"/>
    <meta prefix="og: http:ogp.me/ns#" property="og:image:secure_url" content="https://www.domain.cz/images/fb.jpg"/>
    <meta prefix="og: http:ogp.me/ns#" property="og:locale" content="cs_CZ"/>

    <meta property="og:latitude" content="48.8588523"/>
    <meta property="og:longitude" content="16.0543592"/>
    <meta property="og:street-address" content="Tyršova 1251/3"/>
    <meta property="og:locality" content="Znojmo"/>
    <meta property="og:postal-code" content="669 02"/>
    <meta property="og:country-name" content="Česká republika"/>

    <link rel="manifest" href="manifest.json" />

    <!-- Google Analytics -->



    <!-- End Google Analytics -->

    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>

</head>

<body>
