<!doctype html>

<html lang="cs" dir="ltr">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>

    <title>FUTURE Kiteboarding</title> <!-- max 55 characters -->

    <!--<meta http-equiv="Content-Security-Policy" content="default-src * 'self' http://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'" />-->

    <meta name="description" content="Look no further, fellow kite enthusiast, we got you covered! Best kiteboards for rookies as well as guys who don’t mess around. Click to see what’s up…"/> <!-- max 150 characters -->
    <meta name="author" content="Ondřej Blaha"/>

    <meta prefix="og: http:ogp.me/ns#" property="og:title" content="FUTURE Kiteboarding"/>
    <meta prefix="og: http:ogp.me/ns#" property="og:description" content="Look no further, fellow kite enthusiast, we got you covered! Best kiteboards for rookies as well as guys who don’t mess around. Click to see what’s up…"/>
    <meta prefix="og: http:ogp.me/ns#" property="og:type" content="website"/>
    <meta prefix="og: http:ogp.me/ns#" property="og:image" content="http://futurekiteboarding.com/images/fb.jpg"/>
    <meta prefix="og: http:ogp.me/ns#" property="og:image:secure_url" content="https://futurekiteboarding.com/images/fb.jpg"/>
    <meta prefix="og: http:ogp.me/ns#" property="og:locale" content="cs_CZ"/>

    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js" defer async></script>

    <link rel="manifest" href="manifest.json" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FSLBY42MFL"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-FSLBY42MFL');
    </script>

    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>

    <script>
        window.addEventListener("load", function(){
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#1a1a1a",
                        "text": "#858585"
                    },
                    "button": {
                        "background": "transparent",
                        "border": "#858585",;
                        "text": "#858585"
                    }
                },
                "content": {
                    "href": "https://www.google.com/intl/cs/policies/privacy/partners/",
                    "message": "This website uses only the necessary technical cookies.",
                    "dismiss": "I accept",
                    "link": "More information"
                },
                "position": "bottom"
            })});
    </script>

</head>

<body class="no-scroll">

${require('./currency.html')}
${require('./notify-me.html')}
${require('./newsletter.html')}
