<!doctype html>

<html lang="cs" dir="ltr">

<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T3BXL8R');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>

    <title>FUTURE Kiteboarding</title> <!-- max 55 characters -->

    <!--<meta http-equiv="Content-Security-Policy" content="default-src * 'self' http://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'" />-->

    <meta name="description"
          content="Look no further, fellow kite enthusiast, we got you covered! Best kiteboards for rookies as well as guys who don’t mess around. Click to see what’s up…"/>
    <!-- max 150 characters -->
    <meta name="author" content="Ondřej Blaha"/>

    <meta prefix="og: http:ogp.me/ns#" property="og:title" content="FUTURE Kiteboarding"/>
    <meta prefix="og: http:ogp.me/ns#" property="og:description"
          content="Look no further, fellow kite enthusiast, we got you covered! Best kiteboards for rookies as well as guys who don’t mess around. Click to see what’s up…"/>
    <meta prefix="og: http:ogp.me/ns#" property="og:type" content="website"/>
    <meta prefix="og: http:ogp.me/ns#" property="og:image" content="http://futurekiteboarding.com/images/fb.jpg"/>
    <meta prefix="og: http:ogp.me/ns#" property="og:image:secure_url"
          content="https://futurekiteboarding.com/images/fb.jpg"/>
    <meta prefix="og: http:ogp.me/ns#" property="og:locale" content="cs_CZ"/>

    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js" defer async></script>

    <script type="text/javascript" src="kshop-cart/shop-cart-app.js"></script>

    <link rel="stylesheet" href="kshop-cart/styles.css">

    <link rel="manifest" href="manifest.json"/>

    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>

    <script>
        window.addEventListener("load", function () {
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#1a1a1a",
                        "text": "#858585"
                    },
                    "button": {
                        "background": "transparent",
                        "border": "#858585",
                        "text": "#858585"
                    }
                },
                "content": {
                    "href": "https://www.google.com/intl/cs/policies/privacy/partners/",
                    "message": "This website uses only the necessary technical cookies.",
                    "dismiss": "I accept",
                    "link": "More information"
                },
                "position": "bottom"
            })
        });
    </script>

</head>

<body class="no-scroll">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T3BXL8R"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<app-kshop-cart></app-kshop-cart>

${require('./currency.html')}
${require('./notify-me.html')}
${require('./newsletter.html')}
