<div class="benefits">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="benefits__icons">
                    <a href="free-shipping-worldwide" target="_blank" class="icon-block">
                        <img src="../../assets/images/benefits/free_shipping.svg" alt="FREE SHIPPING WORLDWIDE" loading="lazy">
                        <div class="name">FREE SHIPPING<br>
                            WORLDWIDE</div>
                    </a>
                    <a href="no-vat-for-non-eu-customers" target="_blank" class="icon-block">
                        <img src="../../assets/images/benefits/no_vat_for_non_eu.svg" alt="NON-EU DELIVERY = NO VAT" loading="lazy">
                        <div class="name">NON-EU DELIVERY<br> = NO VAT</div>
                    </a>
                    <a href="crash-replacement" target="_blank" class="icon-block">
                        <img src="../../assets/images/benefits/crash_replacement.svg" alt="CRASH REPLACEMENT" loading="lazy">
                        <div class="name">CRASH<br>
                            REPLACEMENT</div>
                    </a>
                    <a href="2-year-warranty" target="_blank" class="icon-block">
                        <img src="../../assets/images/benefits/2_year_warranty.svg" alt="2 YEAR WARRANTY" loading="lazy">
                        <div class="name">2 YEAR<br>
                            WARRANTY</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>