<div class="benefits">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="benefits__icons">
                    <div class="icon-block">
                        <img src="../../assets/images/footer/eu.svg" alt="Follow">
                        <div class="name">FREE SHIPPING<br>
                            WORLDWIDE</div>
                    </div>
                    <div class="icon-block">
                        <img src="../../assets/images/footer/waranty.svg" alt="Follow">
                        <div class="name">NO VAT FOR<br>
                            NON-EU</div>
                    </div>
                    <div class="icon-block">
                        <img src="../../assets/images/footer/technology.svg" alt="Follow">
                        <div class="name">CRASH<br>
                            REPLACEMENT</div>
                    </div>
                    <div class="icon-block">
                        <img src="../../assets/images/footer/technology.svg" alt="Follow">
                        <div class="name">2 YEARS<br>
                            WARRANTY</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>