<div class="benefits">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="benefits__icons">
                    <a href="free-shipping-worldwide" target="_blank" class="icon-block">
                        <img src="../../assets/images/footer/eu.svg" alt="Follow">
                        <div class="name">FREE SHIPPING<br>
                            WORLDWIDE</div>
                    </a>
                    <a href="no-vat-for-non-eu-customers" target="_blank" class="icon-block">
                        <img src="../../assets/images/footer/waranty.svg" alt="Follow">
                        <div class="name">NON-EU DELIVERY<br> = NO VAT</div>
                    </a>
                    <a href="crash-replacement" target="_blank" class="icon-block">
                        <img src="../../assets/images/footer/technology.svg" alt="Follow">
                        <div class="name">CRASH<br>
                            REPLACEMENT</div>
                    </a>
                    <a href="2-year-warranty" target="_blank" class="icon-block">
                        <img src="../../assets/images/footer/technology.svg" alt="Follow">
                        <div class="name">2 YEAR<br>
                            WARRANTY</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>