<div class="currency">
    <div class="currency__banner">
        <div class="currency__inner">
            <p class="currency__subtitle">Hello!</p>
            <h2 class="currency__title">SELECT YOUR CURRENCY</h2>
            <div class="currency__buttons">
                <div class="currency__button currency__button--eur" data-currency="eur">
                    (€) EUR
                </div>
                <div class="currency__button currency__button--usd" data-currency="usd">
                    ($) USD
                </div>
            </div>
            <p class="currency__private">You can change your currency settings in your cart at any point when shopping.</p>
        </div>
    </div>
</div>