        <footer class="footer">
            <div class="footer__logotyp">
                <img src="../../assets/images/footer/logotyp-footer.svg" alt="Logotyp">
            </div>
            <div class="container">
                <!--<div class="row">
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="subtitle subtitle&#45;&#45;grey">Didn’t find what you were looking for? Don‘t hesitate to</div>
                        <h2 class="title title&#45;&#45;white">contact us</h2>
                        <a href="mailto:info@futurekiteboarding.com" class="footer__link">info@futurekiteboarding.com</a>
                        <a href="mailto:sales@futurekiteboarding.com" class="footer__link">sales@futurekiteboarding.com</a>
                    </div>
                </div>-->
                <div class="row">
                    <div class="col-12 col-sm-8 col-md-4">
                        <div class="newsletter">
                            <h3 class="title title--white title--small">Get the latest news</h3>
                            <p>The membership you shouldn’t miss out on. You will be the first to learn about all the news, exclusive offers and get a 5% discount on your next purchase.</p>
                            <form name="contact-bottom" method="post" class="js-request-form-bottom" id="contactForm-bottom">
                                <input type="email" name="email" id="email" class="form-control js-input" placeholder="Enter your email" required>
                                <button type="submit" class="submit__button">Submit</button>
                            </form>
                            <div class="form__wrapper--thankyou">Your email has been sent successfully.</div>
                            <div class="form__wrapper--error">Error! Your email has not been sent.</div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-8">
                        <div class="row">
                            <div class="footer__list">
                                <div class="col-12 col-sm-4">
                                    <h3 class="title title--white title--small">Where to buy</h3>
                                    <ul>
                                        <li>
                                            <a href="where-to-buy">FIND YOUR
                                                LOCAL DEALER</a>
                                        </li>
                                        <li>
                                            <a href="mailto:info@futurekiteboarding.com">info@futurekiteboarding.com</a>
                                        </li>
                                        <li>
                                            <a href="mailto:sales@futurekiteboarding.com">sales@futurekiteboarding.com</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <h3 class="title title--white title--small">Support</h3>
                                    <ul>
                                        <li>
                                            <a href="terms-and-conditions">TERMS & CONDITIONS</a>
                                        </li>
                                        <li>
                                            <a href="privacy-policy">PRIVACY POLICY</a>
                                        </li>
                                        <li>
                                            <a href="returns">RETURNS</a>
                                        </li>
                                        <li>
                                            <a href="2-year-warranty">TWO YEAR WARRANTY</a>
                                        </li>
                                        <li>
                                            <a href="free-shipping-worldwide">FREE SHIPPING WORLDWIDE</a>
                                        </li>
                                        <li>
                                            <a href="crash-replacement">CRASH REPLACEMENT</a>
                                        </li>
                                        <li>
                                            <a href="no-vat-for-non-eu-customers">NON-EU DELIVERY = NO VAT</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <h3 class="title title--white title--small">Kiteboards</h3>
                                    <ul>
                                        <li>
                                            <a href="../oraculum-carbon">ORACULUM <sup>carbon</sup></a>
                                        </li>
                                        <li>
                                            <a href="../boss-carbon">BOSS <sup>carbon</sup></a>
                                        </li>
                                        <li>
                                            <a href="../boss">BOSS</a>
                                        </li>
                                        <li>
                                            <a href="../mucho">MUCHO</a>
                                        </li>
                                        <li>
                                            <a href="../jiggy">JIGGY</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="footer__icons">
                                    <!--<div class="icon-block">
                                        <img src="../../assets/images/footer/eu.svg" alt="Follow">
                                        <div class="name">Made in<br>Europe</div>
                                    </div>
                                    <div class="icon-block">
                                        <img src="../../assets/images/footer/waranty.svg" alt="Follow">
                                        <div class="name">2 years<br>warranty</div>
                                    </div>
                                    <div class="icon-block">
                                        <img src="../../assets/images/footer/technology.svg" alt="Follow">
                                        <div class="name">The latest<br>technology</div>
                                    </div>-->
                                    <img src="../../assets/images/payments/visa.svg" alt="Visa">
                                    <img src="../../assets/images/payments/maestro.svg" alt="Visa">
                                    <img src="../../assets/images/payments/mastercard.svg" alt="Visa">
                                    <img src="../../assets/images/payments/american_express.svg" alt="Visa">
                                    <img src="../../assets/images/payments/diners_club.svg" alt="Visa">
                                    <img src="../../assets/images/payments/apple_pay.svg" alt="Visa">
                                    <img src="../../assets/images/payments/google_pay.svg" alt="Visa">
                                    <img src="../../assets/images/payments/dhl.svg" alt="Visa">
                                    <img src="../../assets/images/payments/fedex.svg" alt="Visa">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="footer__copyright">ALL RIGHTS RESERVED by FUTURE kiteboarding 2022 ©</p>
                    </div>
                </div>
            </div>
        </footer>
    </body>

</html>

