        <footer class="footer">
            <div class="footer__logotyp">
                <img src="../../assets/images/footer/logotyp-footer.svg" alt="Logotyp">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="subtitle subtitle--grey">Didn’t find what you were looking for? Don‘t hesitate to</div>
                        <h2 class="title title--white">contact us</h2>
                        <a href="mailto:info@futurekiteboarding.com" class="footer__link">info@futurekiteboarding.com</a>
                        <a href="mailto:sales@futurekiteboarding.com" class="footer__link">sales@futurekiteboarding.com</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-8 col-md-4">
                        <div class="newsletter">
                            <h3 class="title title--white title--small">Newsletter</h3>
                            <p>Get the latest news</p>
                            <form name="contact-bottom" method="post" class="js-request-form-bottom" id="contactForm-bottom">
                                <input type="email" name="email" id="email" class="form-control js-input" placeholder="Enter your email" required>
                                <button type="submit" class="submit__button">Submit</button>
                            </form>
                            <div class="form__wrapper--thankyou">Kontakt byl úspěšně odeslán.</div>
                            <div class="form__wrapper--error">Něco je špatně a kontakt se neodeslal.</div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-8">
                        <div class="row">
                            <div class="footer__list">
                                <div class="col-12 col-sm-4">
                                    <h3 class="title title--white title--small">Where to buy</h3>
                                    <ul>
                                        <li>
                                            <a href="where-to-buy.html">FIND YOUR
                                                LOCAL DEALER</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <h3 class="title title--white title--small">Support</h3>
                                    <ul>
                                        <li>
                                            <a href="#">WARRANTY</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <h3 class="title title--white title--small">Kiteboards</h3>
                                    <ul>
                                        <li>
                                            <a href="../oraculum-carbon.html">ORACULUM <sup>carbon</sup></a>
                                        </li>
                                        <li>
                                            <a href="../boss-carbon.html">BOSS <sup>carbon</sup></a>
                                        </li>
                                        <li>
                                            <a href="../boss.html">BOSS</a>
                                        </li>
                                        <li>
                                            <a href="../mucho.html">MUCHO</a>
                                        </li>
                                        <li>
                                            <a href="../jiggy.html">JIGGY</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="footer__icons">
                                    <div class="icon-block">
                                        <img src="../../assets/images/footer/eu.svg" alt="Follow">
                                        <div class="name">Made in<br>Europe</div>
                                    </div>
                                    <div class="icon-block">
                                        <img src="../../assets/images/footer/waranty.svg" alt="Follow">
                                        <div class="name">2 years<br>warranty</div>
                                    </div>
                                    <div class="icon-block">
                                        <img src="../../assets/images/footer/technology.svg" alt="Follow">
                                        <div class="name">The latest<br>technology</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="footer__copyright">ALL RIGHTS RESERVED by FUTURE kiteboarding 2022 ©</p>
                    </div>
                </div>
            </div>
        </footer>
    </body>

</html>

