        <footer class="footer">
            <div class="footer__logotyp">
                <img src="../../assets/images/footer/logotyp-footer.png" alt="Logotyp">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <div class="subtitle subtitle--grey">DIDN’T FIND WHAT YOU WERE LOOKING FOR?
                            DO NOT HESITATE TO</div>
                        <h2 class="title title--white">Contact Us</h2>
                        <a href="mailto:info@futurekiteboarding.com" class="footer__link">info@futurekiteboarding.com</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <div class="newsletter">
                            <h3 class="title title--white title--small">Newsletter</h3>
                            <p>LOREM IPSUM JE OZNAČENÍ PRO STANDARTNÍ PSEUDOLATINSKÝ TEXT UŽÍVANÝ V GRAFICKÉM DESIGNU.</p>
                            <form name="contact-bottom" method="post" class="js-request-form-bottom" id="contactForm-bottom">
                                <input type="email" name="email" id="email" class="form-control js-input" placeholder="Your email" required>
                                <button type="submit" class="submit__button">Send</button>
                            </form>
                            <div class="form__wrapper--thankyou">Kontakt byl úspěšně odeslán.</div>
                            <div class="form__wrapper--error">Něco je špatně a kontakt se neodeslal.</div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-8">
                        <div class="row">
                            <div class="footer__list">
                                <div class="col-12 col-sm-4">
                                    <h3 class="title title--white title--small">Shopfinder</h3>
                                    <ul>
                                        <li>
                                            <a href="#">FIND YOUR
                                                LOCAL DEALER</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <h3 class="title title--white title--small">Support</h3>
                                    <ul>
                                        <li>
                                            <a href="#">PRODUCT REGISTRATION</a>
                                        </li>
                                        <li>
                                            <a href="#">WARRANTY</a>
                                        </li>
                                        <li>
                                            <a href="#">SHIPPING & RETURNS</a>
                                        </li>
                                        <li>
                                            <a href="#">PRIVACY POLICY</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <h3 class="title title--white title--small">Kiteboards</h3>
                                    <ul>
                                        <li>
                                            <a href="#">ORACULUM</a>
                                        </li>
                                        <li>
                                            <a href="#">BOSS</a>
                                        </li>
                                        <li>
                                            <a href="#">MUCHO</a>
                                        </li>
                                        <li>
                                            <a href="#">JIGGY</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="footer__icons">
                                    <div class="icon-block">
                                        <img src="../../assets/images/footer/eu.svg" alt="Follow">
                                        <div class="name">Made in<br>Europe</div>
                                    </div>
                                    <div class="icon-block">
                                        <img src="../../assets/images/footer/waranty.svg" alt="Follow">
                                        <div class="name">2 years<br>warranty</div>
                                    </div>
                                    <div class="icon-block">
                                        <img src="../../assets/images/footer/technology.svg" alt="Follow">
                                        <div class="name">The latest<br>technology</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="footer__copyright">ALL RIGHTS RESERVED BY Future Kiting 2015 ©</p>
                    </div>
                </div>
            </div>
        </footer>
    </body>

</html>

