<header class="header">
    <div class="header__inner">
        <a href="/" class="header__logo">
            <img src="../../assets/images/future_logo.png" alt="Future">
        </a>
        <div class="header__open">
            <span>Menu</span>
        </div>
        <div class="header__menu">
            <nav>
                <ul>
                    <li>
                        <a href="#">KITEBOARDS</a>
                    </li>
                    <li>
                        <a href="#">AMBASSADORS</a>
                    </li>
                    <li>
                        <a href="#">BRAND STORY</a>
                    </li>
                    <li>
                        <a href="#">WHERE TO BUY?</a>
                    </li>
                    <li>
                        <a href="#">CONTACT</a>
                    </li>
                    <li>
                        <a href="#">FUTURE WAKEBOARDING</a>
                    </li>
                </ul>
            </nav>
            <div class="header__copyright">
                ALL RIGHTS RESERVED BY  Future Kiting 2015 ©
            </div>
        </div>
    </div>

</header>
