<header class="header">
    <div class="header__inner">
        <a href="/" class="header__logo">
            <img src="../../assets/images/future_logo.svg" alt="Future" loading="lazy">
        </a>
        <div class="header__actions">
            <div id="toggle-cart" class="cart__button">
                <img src="../../assets/images/icons/shopping-cart.svg" alt="Cart" loading="lazy">
                <div class="products-count">0</div>
            </div>
            <div class="header__open">
                <span>Menu</span>
            </div>
        </div>
        <div class="header__menu">
            <nav>
                <ul>
                    <li>
                        <a href="kiteboards">KITEBOARDS</a>
                    </li>
                    <li>
                        <a href="ambassadors">AMBASSADORS</a>
                    </li>
                    <li>
                        <a href="brand-history">BRAND HISTORY</a>
                    </li>
                    <li>
                        <a href="where-to-buy">WHERE TO BUY?</a>
                    </li>
                    <li>
                        <a href="get-in-touch">Get in Touch</a>
                    </li>
                </ul>
            </nav>
            <div class="header__copyright">
                ALL RIGHTS RESERVED by FUTURE kiteboarding 2022 ©
            </div>
        </div>
    </div>

</header>
