<header class="header">
    <div class="header__inner">
        <a href="/" class="header__logo">
            <img src="../../assets/images/future_logo.svg" alt="Future">
        </a>
        <div class="header__open">
            <span>Menu</span>
        </div>
        <div class="header__menu">
            <nav>
                <ul>
                    <li>
                        <a href="kiteboards.html">KITEBOARDS</a>
                    </li>
                    <li>
                        <a href="ambassadors.html">AMBASSADORS</a>
                    </li>
                    <li>
                        <a href="brand-history.html">BRAND HISTORY</a>
                    </li>
                    <li>
                        <a href="where-to-buy.html">WHERE TO BUY?</a>
                    </li>
                    <li>
                        <a href="get-in-touch.html">Get in Touch</a>
                    </li>
                    <li>
                        <a href="https://futurewakeboarding.com/" target="_blank">FUTURE WAKEBOARDING</a>
                    </li>
                </ul>
            </nav>
            <div class="header__copyright">
                ALL RIGHTS RESERVED by FUTURE kiteboarding 2022 ©
            </div>
        </div>
    </div>

</header>
