<div class="currency js-newsletter-popup">
    <div class="currency__banner">
        <div class="currency__inner">
            <p class="currency__subtitle">Hello!</p>
            <h2 class="currency__title">NEWSLETTER</h2>
            <div class="currency__buttons">
                <form name="contact-bottom" method="post" class="js-request-form-newsletter" id="newsletterForm-bottom">
                    <input type="email" name="email" id="email" class="form-control js-input" placeholder="Enter your email" required>
                    <button type="submit" class="submit__button">Submit</button>
                </form>
            </div>
            <p class="currency__private">Lorem ipsum</p>
        </div>
    </div>
</div>
