<div class="notifyme">
    <div class="notifyme__close">
        <span>Close</span>
    </div>
    <div class="notifyme__banner">
        <div class="notifyme__inner">
            <h2 class="notifyme__title">NOTIFY ME</h2>
            <p class="notifyme__subtitle">This product is temporarily out of stock in this size and colour. Enter your
                email address and we will let you know as soon as it is available again.</p>
            <form name="notifyme-popup" method="post" class="js-request-form-notify" id="notifyForm">

                <input type="email" name="email" id="email" class="form-control js-input" placeholder="Your email"
                       required>
                <input type="hidden" name="product" id="product" required>

                <div class="form-message thankyou" style="display: none;">Your email has been sent successfully.</div>
                <div class="form-message error" style="display: none;">Error! Your email has not been sent.</div>

                <button type="submit" class="notifyme__button">Submit</button>
                <p class="notifyme__private">By entering my email address by clicking the "notify me" button, I agree
                    that my contact details may be used to inform me about the availability of my selected product.
                    By subscribing to our newsletter, you are agreeing to our Privacy Policy.</p>
                <div class="notifyme__checkbox">
                    <input type="checkbox" id="latest-news" name="latest-news">
                    <label for="latest-news">Get the latest news (optional)</label>
                </div>
            </form>
        </div>
    </div>
</div>
