<section class="products">
    <div class="swiper-container product-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="product">
                    <h2>Freestyle</h2>
                    <div class="product__image">
                        <img src="../../assets/images/products/product_1.png" alt="Mucho">
                    </div>
                    <div class="product__content">
                        <h3 class="product__name">Mucho</h3>
                        <div class="product__size">
                            <span>140.45</span>
                            <span>138.41</span>
                            <span>136.39</span>
                        </div>
                        <div class="product__price">
                            826.00 €
                        </div>
                        <div class="product__colors">
                            <div class="product__red"></div>
                            <div class="product__blue"></div>
                            <div class="product__yellow"></div>
                        </div>
                        <a href="detail.html" class="product__button">
                            Show me
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product">
                    <h2>Freestyle</h2>
                    <div class="product__image">
                        <img src="../../assets/images/products/product_1.png" alt="Mucho">
                    </div>
                    <div class="product__content">
                        <h3 class="product__name">Mucho</h3>
                        <div class="product__size">
                            <span>140.45</span>
                            <span>138.41</span>
                            <span>136.39</span>
                        </div>
                        <div class="product__price">
                            826.00 €
                        </div>
                        <div class="product__colors">
                            <div class="product__red"></div>
                            <div class="product__blue"></div>
                            <div class="product__yellow"></div>
                        </div>
                        <a href="detail.html" class="product__button">
                            Show me
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product">
                    <h2>Freestyle</h2>
                    <div class="product__image">
                        <img src="../../assets/images/products/product_1.png" alt="Mucho">
                    </div>
                    <div class="product__content">
                        <h3 class="product__name">Mucho</h3>
                        <div class="product__size">
                            <span>140.45</span>
                            <span>138.41</span>
                            <span>136.39</span>
                        </div>
                        <div class="product__price">
                            826.00 €
                        </div>
                        <div class="product__colors">
                            <div class="product__red"></div>
                            <div class="product__blue"></div>
                            <div class="product__yellow"></div>
                        </div>
                        <a href="detail.html" class="product__button">
                            Show me
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-prev">PREV</div>
        <div class="swiper-button-next">NEXT</div>
    </div>
</section>