<section class="products">
    <div class="swiper-container product-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="product" data-product-code="oraculum_carbon">
                    <h2>competition</h2>
                    <div class="product__content">
                        <a href="../oraculum-carbon" class="product__image">
                            <img src="../../assets/images/products/oraculum/small/oraculum_green_front.jpg"
                                 alt="Oraculum" data-color="blue" class="active">
                            <div class="product__badges">
                                <div class="product__badge product__badge--tested">TESTED BY IKS</div>
                                <div class="product__badge product__badge--new">NEW</div>
                                <div class="product__badge product__badge--soon">AVAILABLE SOON</div>
                                <div class="product__badge product__badge--free">FREE SHIPPING</div>
                            </div>
                        </a>
                        <div class="product__inner">
                            <h3 class="product__name">Oraculum <sup>carbon</sup></h3>
                            <div class="product__size">
                                <span data-size="142x43,5">142.43,5</span>
                                <span data-size="140x42,5">140.42,5</span>
                                <span data-size="136x41,5">136.41,5</span>
                            </div>
                            <div class="product__price product__price--inside-eu">
                                <span class="current-price">??? €</span>
                                <span class="old-price">!!! €</span>
                                <span
                                        class="destination">(EU delivery)</span>
                            </div>
                            <div class="product__price product__price--outside-eu">
                                <span class="current-price">??? €</span>
                                <span class="old-price">!!! €</span>
                                <span
                                        class="destination">(delivery outside EU)</span>
                            </div>
                            <div class="product__colors">
                                <div class="product__green active" data-color="light_blue"></div>
                            </div>
                            <a href="../oraculum-carbon" class="product__button">
                                VIEW MORE
                            </a>
                        </div>
                        <div class="product__hexagon"></div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product" data-product-code="boss_carbon">
                    <h2>Freestyle | Air style</h2>
                    <div class="product__content">
                        <a href="../boss-carbon" class="product__image">
                            <img src="../../assets/images/products/boss-carbon/small/boss-carbon_red_front.jpg"
                                 alt="Boss carbon" data-color="red" class="active">
                            <img src="../../assets/images/products/boss-carbon/small/boss-carbon_blue_front.jpg"
                                 alt="Boss carbon" data-color="blue">
                            <img src="../../assets/images/products/boss-carbon/small/boss-carbon_green_front.jpg"
                                 alt="Boss carbon" data-color="light_blue">
                            <div class="product__badges">
                                <div class="product__badge product__badge--tested">TESTED BY IKS</div>
                                <div class="product__badge product__badge--new">NEW</div>
                                <div class="product__badge product__badge--soon">AVAILABLE SOON</div>
                                <div class="product__badge product__badge--free">FREE SHIPPING</div>
                            </div>
                        </a>
                        <div class="product__inner">
                            <h3 class="product__name">Boss <sup>carbon</sup></h3>
                            <div class="product__size">
                                <span data-size="146x43">146.43</span>
                                <span data-size="141x42">141.42</span>
                                <span data-size="137x41">137.41</span>
                                <span data-size="133x40">133.40</span>
                            </div>
                            <div class="product__price product__price--inside-eu">
                                <span class="current-price">??? €</span>
                                <span class="old-price">!!! €</span>
                                <span
                                        class="destination">(EU delivery)</span>
                            </div>
                            <div class="product__price product__price--outside-eu">
                                <span class="current-price">??? €</span>
                                <span class="old-price">!!! €</span>
                                <span
                                        class="destination">(delivery outside EU)</span>
                            </div>
                            <div class="product__colors">
                                <div class="product__red active" data-color="red"></div>
                                <div class="product__blue" data-color="blue"></div>
                                <div class="product__green" data-color="light_blue"></div>
                            </div>
                            <a href="../boss-carbon" class="product__button">
                                VIEW MORE
                            </a>
                        </div>
                        <div class="product__hexagon"></div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product" data-product-code="boss">
                    <h2>Freestyle | Air style</h2>
                    <div class="product__content">
                        <a href="../boss" class="product__image">
                            <img src="../../assets/images/products/boss/small/boss_blue_front.jpg" alt="Boss"
                                 data-color="blue" class="active">
                            <img src="../../assets/images/products/boss/small/boss_red_front.jpg" alt="Boss"
                                 data-color="red">
                            <div class="product__badges">
                                <div class="product__badge product__badge--tested">TESTED BY IKS</div>
                                <div class="product__badge product__badge--new">NEW</div>
                                <div class="product__badge product__badge--soon">AVAILABLE SOON</div>
                                <div class="product__badge product__badge--free">FREE SHIPPING</div>
                            </div>
                        </a>
                        <div class="product__inner">
                            <h3 class="product__name">Boss</h3>
                            <div class="product__size">
                                <span data-size="146x43">146.43</span>
                                <span data-size="141x42">141.42</span>
                                <span data-size="137x41">137.41</span>
                                <span data-size="133x40">133.40</span>
                            </div>
                            <div class="product__price product__price--inside-eu">
                                <span class="current-price">??? €</span>
                                <span class="old-price">!!! €</span>
                                <span
                                        class="destination">(EU delivery)</span>
                            </div>
                            <div class="product__price product__price--outside-eu">
                                <span class="current-price">??? €</span>
                                <span class="old-price">!!! €</span>
                                <span
                                        class="destination">(delivery outside EU)</span>
                            </div>
                            <div class="product__colors">
                                <div class="product__blue active" data-color="blue"></div>
                                <div class="product__red" data-color="red"></div>
                            </div>
                            <a href="../boss" class="product__button">
                                VIEW MORE
                            </a>
                        </div>
                        <div class="product__hexagon"></div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product" data-product-code="mucho">
                    <h2>Freeride | Comfort</h2>
                    <div class="product__content">
                        <a href="../mucho" class="product__image">
                            <img src="../../assets/images/products/mucho/small/mucho_yellow_front.jpg" alt="Mucho"
                                 data-color="yellow" class="active">
                            <img src="../../assets/images/products/mucho/small/mucho_red_front.jpg" alt="Mucho"
                                 data-color="red">
                            <img src="../../assets/images/products/mucho/small/mucho_blue_front.jpg" alt="Mucho"
                                 data-color="blue">
                            <div class="product__badges">
                                <div class="product__badge product__badge--tested">TESTED BY IKS</div>
                                <div class="product__badge product__badge--new">NEW</div>
                                <div class="product__badge product__badge--soon">AVAILABLE SOON</div>
                                <div class="product__badge product__badge--free">FREE SHIPPING</div>
                            </div>
                        </a>
                        <div class="product__inner">
                            <h3 class="product__name">Mucho</h3>
                            <div class="product__size">
                                <span data-size="145x43,5">145.43,5</span>
                                <span data-size="142x43">142.43</span>
                                <span data-size="138x43">138.43</span>
                                <span data-size="134x42">134.42</span>
                                <span data-size="129x40,5">129.40,5</span>
                            </div>
                            <div class="product__price product__price--inside-eu">
                                <span class="current-price">??? €</span>
                                <span class="old-price">!!! €</span>
                                <span
                                        class="destination">(EU delivery)</span>
                            </div>
                            <div class="product__price product__price--outside-eu">
                                <span class="current-price">??? €</span>
                                <span class="old-price">!!! €</span>
                                <span
                                        class="destination">(delivery outside EU)</span>
                            </div>
                            <div class="product__colors">
                                <div class="product__yellow active" data-color="yellow"></div>
                                <div class="product__red" data-color="red"></div>
                                <div class="product__blue" data-color="blue"></div>
                            </div>
                            <a href="../mucho" class="product__button">
                                VIEW MORE
                            </a>
                        </div>
                        <div class="product__hexagon"></div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product" data-product-code="jiggy">
                    <h2>Freeride | Freestyle</h2>
                    <div class="product__content">
                        <a href="../jiggy" class="product__image">
                            <img src="../../assets/images/products/jiggy/small/jiggy_red_front.jpg" alt="Jiggy"
                                 data-color="red" class="active">
                            <img src="../../assets/images/products/jiggy/small/jiggy_blue_front.jpg" alt="Jiggy"
                                 data-color="blue">
                            <div class="product__badges">
                                <div class="product__badge product__badge--tested">TESTED BY IKS</div>
                                <div class="product__badge product__badge--new">NEW</div>
                                <div class="product__badge product__badge--soon">AVAILABLE SOON</div>
                                <div class="product__badge product__badge--free">FREE SHIPPING</div>
                            </div>
                        </a>
                        <div class="product__inner">
                            <h3 class="product__name">Jiggy</h3>
                            <div class="product__size">
                                <span data-size="145x44">145.44</span>
                                <span data-size="140x42">140.42</span>
                                <span data-size="135x41">135.41</span>
                                <span data-size="130x40">130.40</span>
                            </div>
                            <div class="product__price product__price--inside-eu">
                                <span class="current-price">??? €</span>
                                <span class="old-price">!!! €</span>
                                <span
                                        class="destination">(EU delivery)</span>
                            </div>
                            <div class="product__price product__price--outside-eu">
                                <span class="current-price">??? €</span>
                                <span class="old-price">!!! €</span>
                                <span
                                        class="destination"><span
                                        class="destination">(delivery outside EU)</span></span>
                            </div>
                            <div class="product__colors">
                                <div class="product__red active" data-color="red"></div>
                                <div class="product__blue" data-color="blue"></div>
                            </div>
                            <a href="../jiggy" class="product__button">
                                VIEW MORE
                            </a>
                        </div>
                        <div class="product__hexagon"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-prev">PREV</div>
        <div class="swiper-button-next">NEXT</div>
    </div>
</section>
