<section class="products">
    <div class="swiper-container product-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="product">
                    <h2>competition</h2>
                    <div class="product__content">
                        <a href="../detail.html" class="product__image">
                            <img src="../../assets/images/products/oraculum/small/oraculum_green_front.jpg" alt="Oraculum" data-color="green" class="active">
                        </a>
                        <div class="product__inner">
                            <h3 class="product__name">Oraculum <sup>carbon</sup></h3>
                            <div class="product__size">
                                <span>142.43,5</span>
                                <span>140.42,5</span>
                                <span>136.41,5</span>
                            </div>
                            <div class="product__price">
                                799.00 €
                            </div>
                            <div class="product__colors">
                                <div class="product__green" data-color="green"></div>
                            </div>
                            <a href="detail.html" class="product__button">
                                Show me
                            </a>
                        </div>
                        <div class="product__hexagon"></div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product">
                    <h2>Freestyle | Air style</h2>
                    <div class="product__content">
                        <a href="../detail.html" class="product__image">
                            <img src="../../assets/images/products/boss-carbon/small/boss-carbon_red_front.jpg" alt="Boss carbon" data-color="red" class="active">
                            <img src="../../assets/images/products/boss-carbon/small/boss-carbon_blue_front.jpg" alt="Boss carbon" data-color="blue">
                            <img src="../../assets/images/products/boss-carbon/small/boss-carbon_green_front.jpg" alt="Boss carbon" data-color="green">
                        </a>
                        <div class="product__inner">
                            <h3 class="product__name">Boss <sup>carbon</sup></h3>
                            <div class="product__size">
                                <span>146.43</span>
                                <span>141.42</span>
                                <span>137.41</span>
                                <span>133.40</span>
                            </div>
                            <div class="product__price">
                                749.00 €
                            </div>
                            <div class="product__colors">
                                <div class="product__red" data-color="red"></div>
                                <div class="product__blue" data-color="blue"></div>
                                <div class="product__green" data-color="green"></div>
                            </div>
                            <a href="detail.html" class="product__button">
                                Show me
                            </a>
                        </div>
                        <div class="product__hexagon"></div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product">
                    <h2>Freestyle | Air style</h2>
                    <div class="product__content">
                        <a href="../detail.html" class="product__image">
                            <img src="../../assets/images/products/boss/small/boss_blue_front.jpg" alt="Boss" data-color="blue" class="active">
                            <img src="../../assets/images/products/boss/small/boss_red_front.jpg" alt="Boss" data-color="red">
                        </a>
                        <div class="product__inner">
                            <h3 class="product__name">Boss</h3>
                            <div class="product__size">
                                <span>146.43</span>
                                <span>141.42</span>
                                <span>137.41</span>
                                <span>133.40</span>
                            </div>
                            <div class="product__price">
                                699.00 €
                            </div>
                            <div class="product__colors">
                                <div class="product__blue" data-color="blue"></div>
                                <div class="product__red" data-color="red"></div>
                            </div>
                            <a href="detail.html" class="product__button">
                                Show me
                            </a>
                        </div>
                        <div class="product__hexagon"></div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product">
                    <h2>Freeride | Comfort</h2>
                    <div class="product__content">
                        <a href="../detail.html" class="product__image">
                            <img src="../../assets/images/products/mucho/small/mucho_yellow_front.jpg" alt="Mucho" data-color="yellow" class="active">
                            <img src="../../assets/images/products/mucho/small/mucho_red_front.jpg" alt="Mucho" data-color="red">
                            <img src="../../assets/images/products/mucho/small/mucho_blue_front.jpg" alt="Mucho" data-color="blue">
                        </a>
                        <div class="product__inner">
                            <h3 class="product__name">Mucho</h3>
                            <div class="product__size">
                                <span>145.43,5</span>
                                <span>142.43</span>
                                <span>138.43</span>
                                <span>134.42</span>
                                <span>129.40,5</span>
                            </div>
                            <div class="product__price">
                                649.00 €
                            </div>
                            <div class="product__colors">
                                <div class="product__yellow" data-color="yellow"></div>
                                <div class="product__red" data-color="red"></div>
                                <div class="product__blue" data-color="blue"></div>
                            </div>
                            <a href="detail.html" class="product__button">
                                Show me
                            </a>
                        </div>
                        <div class="product__hexagon"></div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product">
                    <h2>Freeride | Freestyle</h2>
                    <div class="product__content">
                        <a href="../detail.html" class="product__image">
                            <img src="../../assets/images/products/jiggy/small/jiggy_red_front.jpg" alt="Jiggy" data-color="red" class="active">
                            <img src="../../assets/images/products/jiggy/small/jiggy_blue_front.jpg" alt="Jiggy" data-color="blue">
                        </a>
                        <div class="product__inner">
                            <h3 class="product__name">Jiggy</h3>
                            <div class="product__size">
                                <span>145.44</span>
                                <span>140.42</span>
                                <span>135.41</span>
                                <span>130.40</span>
                            </div>
                            <div class="product__price">
                                549.00 €
                            </div>
                            <div class="product__colors">
                                <div class="product__red" data-color="red"></div>
                                <div class="product__blue" data-color="blue"></div>
                            </div>
                            <a href="detail.html" class="product__button">
                                Show me
                            </a>
                        </div>
                        <div class="product__hexagon"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-prev">PREV</div>
        <div class="swiper-button-next">NEXT</div>
    </div>
</section>